
<div class="carousel-item" height="300px;">
	<img class="carousel-image" src="assets/img/carousel-petadoption.jpg"  />
	<div class="carousel-message">
	  <h2>Adopt a lost or adoptable pet</h2>
	  <p>Adopt a pet now and you will get another one <a href="#" title="Get a free pet">free</a>.</p>
	</div>
</div>
<div class="carousel-item">
	<img class="carousel-image" src="assets/img/carousel-walkingtrails.jpg" />
	<div class="carousel-message">
	  <h2>Walking Trails and Paths</h2>
	  <p>Use our <a href="#" title="Follow Snowfighter">online search tool</a> to find walking trails and paths throughout Baltimore County.</p>
	</div>
</div>
<div class="carousel-item">
	<img class="carousel-image" src="assets/img/carousel-walksafe.jpg" />
	<div class="carousel-message">
	  <h2>Walk safe to your next destination</h2>
	  <p>Make sure to follow crosswalks to ensure your safety, find out <a href="#" title="Find out more about walking safe">more information</a> about walking safe.</p>
	</div>
</div>
<div class="carousel-item">
	<img class="carousel-image" src="assets/img/carousel-stormwater.jpg" />
	<div class="carousel-message">
	  <h2>Question about Stormwater?</h2>
	  <p>Find out <a href="#" title="Find out more about walking safe">more information</a> about the baltimore county stormwater tax.</p>
	</div>
</div>
<div class="carousel-item">
	<img class="carousel-image" src="assets/img/carousel-bigtrees.jpg" />
	<div class="carousel-message">
	  <h2>Big Trees Sale</h2>
	  <p>Purchase trees for planting on private properties. <a href="#" title="Pre-order a big tree.">Pre-order trees</a> online today!</p>
	</div>
</div>