<ul class="county-help-list">
	<li class="county-help-list-item">
		<a href="http://www.baltimorecountymd.gov/Contact_Us/telephone/helpful_numbers.html" title="Find helpful telephone numbers.">Phone Numbers</a>
	</li>
	<li class="county-help-list-item">
		<a href="http://www.baltimorecountymd.gov/imlooking/index.html#all" title="Find a County service.">Find a County Service</a>
	</li>
	<li class="county-help-list-item">
		<a href="http://www.baltimorecountymd.gov/iwant/index.html" title="Report a problem.">Report a Problem</a>
	</li>
</ul>