<div class="secondary-footer">
	<div class="container">
		<div class="row">
		<div id="copyright-container" class="copyright col-md-4 col-sm-12">
			<p><span class="_Tgc" name="_Tgc" id="_Tgc"><strong>&copy;</strong></span> Copyright 2015 Baltimore County Government</p>
		</div>
		<div id="county-links-container" class="county-links col-md-8 col-sm-12">
			<ul class="county-links-list inline-list">
			    <li class="county-links-list-item"><a title="Contact Baltimore County." href="http://www.baltimorecountymd.gov/Contact/webmaster?issueid=42" externallink="http://www.baltimorecountymd.gov/Contact/webmaster?issueid=42" showtoolbar="No" newwindow="No" linktype="EXTERNAL">Contact Baltimore County</a></li>
			    <li class="county-links-list-item"><a title="Review the User Terms for the Baltimore County website." href="http://www.baltimorecountymd.gov/UserGuide/usertermsconditions.html" seid="6780" showtoolbar="No" newwindow="No" linktype="SE">User Terms</a></li>
			    <li class="county-links-list-item"><a title="Review the  Baltimore County privacy policy." href="http://www.baltimorecountymd.gov/UserGuide/usertermsconditions.html#privacy" externallink="http://www.baltimorecountymd.gov/UserGuide/usertermsconditions.html#privacy" showtoolbar="No" newwindow="No" linktype="EXTERNAL">Privacy</a></li>
			    <li class="county-links-list-item"><a title="View Baltimore County job listings." href="http://www.baltimorecountymd.gov/Agencies/humanresources/jobs/index.html" seid="8024" showtoolbar="No" newwindow="No" linktype="SE">Jobs</a></li>
			    <li class="county-links-list-item"><a title="View the Baltimore County site map." href="http://www.baltimorecountymd.gov/UserGuide/sitemap.html" seid="8687" showtoolbar="No" newwindow="No" linktype="SE">Site Map</a></li>
			    <li class="county-links-list-item"><a title="Learn more about Reasonable Accommodation." href="http://www.baltimorecountymd.gov/Agencies/ada/index.html" seid="2F6F334923B0DB636EF6AE1622D97EAE" showtoolbar="No" newwindow="No" linktype="SE">Reasonable Accommodation</a></li>
			</ul>
		</div>
		</div>
	</div>
</div>