<div class="secondary-header hidden-xs" id="#secondary-header">
<div class="container" id="secondary-header-container">
<div class="secondary-nav col-md-4 col-sm-4 col-xs-4" id="secondary-nav-container">
<ul class="secondary-nav-list inline-list">
    <li class="secondary-nav-list-item"><a linktype="SE" newwindow="No" showtoolbar="No" seid="0DC80E9E47CC27F6A6132904BBC173AF" href="http://www.baltimorecountymd.gov/countyexecutivemega.html" title="Learn more about the County Executive.">County Executive</a></li>
    <li class="secondary-nav-list-item"><a linktype="SE" newwindow="No" showtoolbar="No" seid="A2320A63E773847C93A5181192A93CBD" href="http://www.baltimorecountymd.gov/countycouncilmega.html" title="Learn more about the County Council.">County Council</a></li>
    <li class="secondary-nav-list-item"><a linktype="SE" newwindow="No" showtoolbar="No" seid="14F564A022523D6D857BA2162A97AB89" href="http://www.baltimorecountymd.gov/courtsmega.html" title="Learn more about Courts.">Courts</a></li>
</ul>
</div>
<div class="col-md-5 col-sm-5 col-xs-5" id="social-media-container">
    <table style="display:inline-table;border:1px solid #425973;border-spacing:0px;padding:0px;background-color:#FFFFBB;" seid="SE3" moduleid="SEMOD4976F8138832AB0ADF7763566DD92714" modulename="OBJECTINCLUDE" moduletitle="Object Inclusion" modulewidth="590" moduleheight="250">
    <tbody>
        <tr>
            <td class="SEModuleOnly">
            <table cellspacing="0" cellpadding="3" border="1">
                <tbody>
                    <tr bgcolor="#CCCCCC">
                        <td colspan="2"><strong>Object Include Module</strong><br />
                        Type : HTML File<br />
                        Object : /sebin/q/i/search.html</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
<div class="page-tools col-md-3 col-sm-3 col-xs-3" id="page-tools-container">
<table seid="SE2" style="display:inline-table;border:1px solid #425973;border-spacing:0px;padding:0px;background-color:#FFFFBB;" moduleid="SEMOD289E5830D1419EEFFE1714D68DED380A" modulename="OBJECTINCLUDE" moduletitle="Object Inclusion" modulewidth="590" moduleheight="250" attrs=" ">
    <tbody>
        <tr>
            <td class="SEModuleOnly">
            <table cellspacing="0" cellpadding="3" border="1">
                <tbody>
                    <tr bgcolor="#CCCCCC">
                        <td colspan="2"><strong>Object Include Module</strong><br />
                        Type : HTML File<br />
                        Object : /sebin/g/j/text-resizer.html</td>
                    </tr>
                </tbody>
            </table>
            </td>
        </tr>
    </tbody>
</table>
</div>
</div>
</div>
