<ul class="primary-nav" role="navigation">
  <li class="primary-nav-item col-md-4 col-sm-4 col-xs-12">
    <h2 class="primary-nav-item__headline">
      <a href="http://www.baltimorecountymd.gov/iwant/apply.html">I Want To...<br><span class="primary-nav-item__tagline">Report Issues, Follow Up, Apply</span></a>
    </h2>
  </li>
  <li class="primary-nav-item col-md-4 col-sm-4 col-xs-12">
    <h2 class="primary-nav-item__headline">
      <a href="http://www.baltimorecountymd.gov/iwant/apply.html">I'm Looking For...<br><span class="primary-nav-item__tagline">Resident, Visitor, or Business Info</span></a>
    </h2>
  </li>
  <li class="primary-nav-item col-md-4 col-sm-4 col-xs-12">
    <h2 class="primary-nav-item__headline">
      <a href="http://www.baltimorecountymd.gov/iwant/apply.html">I Need to Contact...<br><span class="primary-nav-item__tagline">An Agency, My Rep, An Employee</span></a>
    </h2>
  </li>
</ul>