<ul class="social-media-list social-media-list-small inline-list">
	<li class="social-media-list-item social-media-list-item-facebook">
		<a href="http://www.baltimorecountymd.gov/socialmedia/index.html#facebook" title="Learn more about Baltimore County's Facebook pages.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-twitter">
		<a href="http://www.baltimorecountymd.gov/socialmedia/index.html#twitter" title="Learn more about Baltimore County's Twitter pages.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-photos">
		<a href="http://www.baltimorecountymd.gov/socialmedia/index.html#photos" title="View the Baltimore County Flickr album.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-youtube">
		<a href="http://www.baltimorecountymd.gov/socialmedia/index.html#youtube" title="Learn more about Baltimore County's YouTube channels.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-bcnow">
		<a href="http://www.baltimorecountymd.gov/News/BaltimoreCountyNow" title="Read more from the Baltimore County Now blog.">
		</a>
	</li>
</ul>