<ul class="social-media-list social-media-list-gold social-media-list-small inline-list">
	<li class="social-media-list-item social-media-list-item-facebook">
		<a href="https://www.facebook.com/Baltimorecounty?v=wall" title="View the Baltimore County Facebook page.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-twitter">
		<a href="https://twitter.com/BaltCoGov" title="View the Baltimore County Twitter page.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-photos">
		<a href="https://www.flickr.com/photos/baltimorecounty/" title="View photos from the Baltimore County Flickr album.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-youtube">
		<a href="https://www.youtube.com/user/BaltimoreCounty" title="View Baltimore County's YouTube page.">
		</a>
	</li>
	<li class="social-media-list-item social-media-list-item-bcnow">
		<a href="http://www.baltimorecountymd.gov/News/BaltimoreCountyNow" title="View the Baltimore County Now blog.">
		</a>
	</li>
</ul>