<a href="http://www.baltimorecountymd.gov/Subscribe/" class="subscribe" title="Subscribe to Baltimore County Newsletters.">Subscribe</a>
<div class="resizer">
  <ul class="resizer-list inline-list">
    <li><button id="normal-text" class="btn-link resizer-item resizer-item-smaller">a</button></li>
    <li><button id="large-text" class="btn-link resizer-item resizer-item-default">a</button></li>
    <li><button id="largest-text" class="btn-link resizer-item resizer-item-larger">a</button></li>
  </ul>
</div>