<span class="top-visited-label">Top Visited</span>
<ul class="inline-list top-visited-list">
  <li><a href="http://www.baltimorecountymd.gov/Agencies/humanresources/jobs/index.html" title="View job listings.">Jobs</a></li>
  <li><a href="http://www.baltimorecountymd.gov/Agencies/budfin/taxsearch/index.html" title="Pay or search property taxes online.">Pay Property Tax</a></li>
  <li><a href="http://www.baltimorecountymd.gov/Agencies/publicworks/solid_waste/collectionconnection.html" title="Find information about trash and recycling.">Trash and Recycling</a></li>
  <li><a href="http://www.baltimorecountymd.gov/Agencies/circuit/jurycomm.html" title="Get information about jury duty and fill out the jury questionnaire.">Jury Duty</a></li>
  <li><a href="http://www.baltimorecountymd.gov/Agencies/budfin/citations/index.html" title="Pay parking and red light citations.">Pay Parking and Red Light Citations</a></li>
</ul>