<!-- To Get Unicode Characters http://mylanguages.org/converter.php -->
<ul class="translate-page-list">
	<li class="translate-page-list-item translate-page-list-item-american"><a title="English" href="http://baltimorecountymd.gov//">English</a></li>
	<li class="translate-page-list-item translate-page-list-item-arabic">
		<a title="Translate this site in Arabic." href="http://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=ar&amp;u=http%3A%2F%2Fbaltimorecountymd.gov/%2F">&#1575;&#1604;&#1593;&#1585;&#1576;&#1610;&#1577;</a>
	</li>
	<li class="translate-page-list-item translate-page-list-item-chinese">
		<a title="Translate this site in Chinese." href="http://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=zh-CN&amp;u=http%3A%2F%2Fbaltimorecountymd.gov/%2F">&#20013;&#25991;</a>
	</li>
	<li class="translate-page-list-item translate-page-list-item-french">
		<a title="Translate this site in French." href="http://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=fr&amp;u=http%3A%2F%2Fbaltimorecountymd.gov/%2F">Fran&#231;ais</a>
	</li>
	<li class="translate-page-list-item translate-page-list-item-russian">
		<a title="Translate this site in Russian." href="http://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=ru&amp;u=http%3A%2F%2Fbaltimorecountymd.gov/%2F">&#1056;&#1091;&#1089;&#1089;&#1082;&#1080;&#1081;</a>
	</li>
	<li class="translate-page-list-item translate-page-list-item-spanish">
		<a title="Translate this site in Spanish." href="http://translate.google.com/translate?hl=en&amp;sl=en&amp;tl=es&amp;u=http%3A%2F%2Fbaltimorecountymd.gov/%2F">Espa&ntilde;ol</a>
	</li>
</ul>