$default-font-family: Arial, Helvetica, sans-serif;

@import "../modules/all";

html, body {
	background: $light-gray;
	color: $base-font-color;
	font-family: $default-font-family;
	margin: 0;
	padding: 0;
}

img {
	border: 1px solid lightgray;
	margin: 5px;
	padding: 5px;
}