.brand {
  display: inline-block;
  float: left;
  padding: 0;
  
  h1 {
		color: $white;
	}
	img {
		border: none;
	}

  .brand-logo, .brand-heading {
    display: inline-block;
    
    vertical-align: middle;
  }
  
  .brand-heading {
    font-size: 1.7em;
    line-height: 28px;
    padding: 15px 0;
  }
  
  .brand-logo {
    margin-right: 20px;
  }
}