button {
    background: $gold;
    font-size: 1.1em;
    font-weight: 700;
    padding: 0 20px;
}

.btn-link {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
	text-decoration: underline;
}