.county-information {
	background: $white;
	padding-bottom: 25px;
	padding-top:25px;

	.county-information-headline {
		margin-right: 10px;
	}
}

.SESyndicationModule {
	@extend .clearfix;
}

@media only screen and (max-width: 767px) {
	.county-information {
		padding: 10px;
	}
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
	.county-information-container {
		padding: 0 10px;
	}
}
