.elected-officials {
	img {
		margin: 0 0 20px;
		width: 100%;
	}
	border-left:3px dotted $light-gray;
	padding:0 0 50px 25px;


	.social-media-list {
		margin-bottom: 20px;
	}
}

.county-executive-about-list {
	padding: 0px 0 20px;
	
	.county-executive-about-list-item {
		padding: 0 10px;

		&:first-child {
			border-right: 1px solid $navy;
			padding-left: 0;
		}
	}

}