footer {
	background: $darker-gray;
	font-size:.85em;
	color:$light-gray;

	a {
		color: $light-gray;
		&:hover{
			color:$white;
		}
	}

	img {
		border:none;
	}

	ul, ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.primary-footer, .secondary-footer {
		padding: 20px 0;
	}
	.secondary-footer {
		background: $red;
		color: $white;

		.county-links-list-item{
			border-right: 1px solid $white;
			padding: 0 5px;
		}
	}
}