footer {
	background: $darker-gray;
	font-size:.85em;
	color:$light-gray;

	a {
		color: $light-gray;
		&:hover{
			color:$white;
		}
	}
	
	h2 {
		border: none;
		color: $white;
	}

	img {
		border:none;
		padding: 0;
		margin: 0;
	}

	ul, ol {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	.primary-footer {
		h2 {
			margin: 0;
		}

		.translate-page-list-item{

		}

		.american, .translate-page-list-item-arabic, .translate-page-list-item-chinese, .translate-page-list-item-french, .translate-page-list-item-russian, .translate-page-list-item-spanish{
			padding:0 0 0 30px;
		}

		.american{
			background:url("../../assets/img/footer-flags-american.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
    		
		}

		.translate-page-list-item-arabic{
			background:url("../../assets/img/footer-flags-arabic.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
		}

		.translate-page-list-item-chinese{
			background:url("../../assets/img/footer-flags-chinese.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
		}

		.translate-page-list-item-french{
			background:url("../../assets/img/footer-flags-french.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
		}

		.translate-page-list-item-russian{
			background:url("../../assets/img/footer-flags-russian.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
		}

		.translate-page-list-item-spanish{
			background:url("../../assets/img/footer-flags-spanish.jpg") no-repeat scroll 0px 5px rgba(0, 0, 0, 0);
		}
	}
	.primary-footer, .secondary-footer {
		padding: 20px 0;
	}
	.secondary-footer {
		background: $red;
		color: $white;

		.county-links-list-item{
			border-right: 1px solid $white;
			padding: 0 5px;

			&:first-child {
				padding: 0;
			}

			&:last-child {
				border-right:none;
			}
		}
	}
}

.county-map-container {
	@extend .clearfix;
}

.county-map, .county-address {
	float: left;
}

.county-map {
	padding: 0 30px 0 0;
}

.county-awards-list-item {
	padding-top: 15px;
}

.county-links-list {
	text-align: right;
}