header {
	.secondary-nav {
		background: $darker-gray;
    font-size:.85em;
		padding: 10px 0;


		.secondary-nav-list {
			padding: 8px 0;
			.secondary-nav-list-item {
				border-right: 1px solid $light-gray;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border: none;
					padding-right: 0;
				}
			}
		}

		a {
			color: $light-gray;
      display: block;
      line-height: 11px;

			&:hover {
				color: $white;
			}
		}
	}

	.primary-nav {
		background: $red;
		color: $white;

		a {
			color: $white;
		}
	}

	.page-tools {
    text-align:right;
		a, ul {
			display: inline-block;
		}
	}


}

.primary-header {
  background: $red;
  color: white;
  height: 100%;
}

.primary-nav {
  height: 100%;
  list-style-type: none;
  float: right;
  margin: 0;
  padding: 0;
  

  h2 {
  	border: none;
  	font-size: 1.7em;
    padding: 0;
  }

  .primary-nav-item {
    background-color: darken($red, 6);
    display: inline-block;
    font-family: 'Patua One', sans-serif;
    height: 100%;
    min-width: 280px;
    
    &:hover {
      a {
        background-color: rgba(red, .5);
      }
    }
    
    .primary-nav-item__headline {
      letter-spacing: .5px;
      margin: 0;
      
    }
    
    .primary-nav-item__tagline {
      display: block;
      font-family: Arial, sans-serif;
      font-size: .5em;
      font-weight: 100;
      letter-spacing: 0;
      margin-top: 10px;
    }
    
    a {
      background: url('../../assets/img/little-arrow.png') no-repeat 12.5px 37px;
      color: white;
      display: block;
      line-height: 22px;
      padding: 35px 0px 33px 40px;
      text-decoration: none;
    }
  }
}

.subscribe {
  border-right: 1px solid $light-gray;
  display: inline-block;
  padding-right: 10px;
}