header {
	.secondary-nav {
		background: $dark-gray;
		padding: 10px 0;


		.secondary-nav-list {
			padding: 8px 0;
			.secondary-nav-list-item {
				border-right: 1px solid $light-gray;
				padding: 0 10px;

				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					border: none;
					padding-right: 0;
				}
			}
		}

		a {
			color: $light-gray;

			&:hover {
				color: $gold;
			}
		}
	}

	.primary-nav {
		background: $red;
		color: $white;

		a {
			color: $white;
		}
	}

	.page-tools {
		a, ul {
			display: inline-block;
		}
	}


}