.promotions-container {
  position: relative;

  .search-container {
    position: absolute;
    left: 50%;
    z-index: 999;

    -moz-transform:    translateX(-50%);
     -o-transform:      translateX(-50%);
     -webkit-transform: translateX(-50%);
     transform:         translateX(-50%);
  }  
}

.promotions {
  margin: 0;

  a {
  	color: $gold;
  }
  
  p {
    margin-bottom: 0;
  }

  img {
    border: none;
  	padding: 0;
  	margin: 0;
  }

  h2 {
  	border: none;
  	color: $white;
    
    font-size: 2.6em;
    
  	margin: 10px 0;
    text-transform: uppercase;
  }

  .promotions-item {
    position: relative;
  }
  .promotion-image {
    width: 100%;
  }
  .promotions-message {
    position: absolute;
    bottom: 0;
    
    background-color: #333;
    background: rgba(#444,.9);
    color: $white;
    padding: 20px 40px;
    width: 100%;
    
  }
}

.slick-dots {
	bottom: 25px;
	right: 50px;
	text-align: right;
}

.slick-dots li button:before {
	position: absolute;
	top: 0;
	right: 50px;
	width: 20px;
	height: 20px;
	font-family: "slick";
	line-height: 52px;
	
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 992px) {
  .slick-dots {
    display: none !important; /*Overriding an element style attr added by slick */
  }
}

@media only screen and (max-width: 767px) {
  .promotions {
      .promotions-message{
        background: white;
        color: $dark-gray;
        position:relative;
        padding: 10px;
  
        h2 {
          color: $dark-gray;
          font-size: 1.5em;
        }
      }
  }

  .slick-prev, .slick-next {
    top: 15%;
  }
}

