/*Search Box*/

.search-container {
    background-color: $light-gray;
    background: rgba(230, 230, 230, 0.89);
    margin: 40px auto;
    max-width: 900px;
    width: 80%;
    
}
.search {
  padding: 20px;
  

  .search-input, button {
    border: none;
    height: 55px;
    margin: 0;
  }

  .search-text {
    overflow: hidden;
  }

  .search-input {
    font-size: 1.2em;
    float: left;
    padding: 10px 20px;
    width: 100%;
  }

  button {
    float: right;
  }
}

/*Popular Services*/
.top-visited {
  padding-top: 20px;
}
.top-visited-label {
  display: block;
  float: left;
  font-weight: bold;
  width: 12.5%;
}
.top-visited-list {
  display: table;
  float: left;

  width: 87.5%;

  padding: 5.5px 0;

  li {
    border-right: 1px solid $navy;
    display: table-cell;
    padding: 0 10px;
    text-align: center;

    &:last-child {
      border: none;
    }
  }
}


@media only screen and (max-width: 959px) {

  .promotions-container .search-container {
    background:none;
    position:relative;
    left:0;
    transform:none;
  }

  .search-container{
    margin:20px auto;
    width: 90%;
  }

  .top-visited-label{
    background-color: #ccc;
    padding:10px;
    width:100%;
  }

  .top-visited-list li {
    border-bottom: 1px solid $dark-gray;
    border-right: none;
    display: block;
    text-align:left;
    padding:0;
  }

  .top-visited-list {
    width:100%;
  }

  .search{
    padding:0;
    .inline-list li a{
      padding:10px 0;
    }

  }

}