.secondary-nav {
    background: $darker-gray;
    font-size:.85em;
    padding: 10px 0;


    .secondary-nav-list {
      padding: 8px 0;
      
      .secondary-nav-list-item {
        border-right: 1px solid $light-gray;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          padding-right: 0;
        }
      }
    }

    a {
      color: $light-gray;
      display: block;
      line-height: 11px;

      &:hover {
        color: $white;
      }
    }
  }

@media only screen and (max-width: 767px) {
  .homepage {
    .secondary-nav {
      padding: 10px;
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .homepage {
    .secondary-nav {
      display: none;

      &.mobile-menu-visible {
        display: block;
      }
    }
  }
  
}