.social-media-list {
	list-style-type: none;
	text-align: center;

	h1, a {
		color: $white;
	}

	
}

.county-executive{
	.social-media-list{
		text-align:left;
	}
}
.social-media-list-item {
	height: 37px;
	width: 37px;

	margin-right: 30px;

	a {
		border: none;
		display: block;
		text-decoration: none;

		height: 38px;
		width: 38px;	
	}
}
.social-media-list-item-facebook {
	background: url(../../assets/img/social-icons-sprite.png) 0 0;
	&:hover {
		background: url(../../assets/img/social-icons-sprite.png) 0 -37px;
	}
}
.social-media-list-item-twitter {
	background: url(../../assets/img/social-icons-sprite.png) -38px 0;
	&:hover {
		background: url(../../assets/img/social-icons-sprite.png) -38px -37px;
	}
}
.social-media-list-item-photos {
	background: url(../../assets/img/social-icons-sprite.png) -76px 0;
	&:hover {
		background: url(../../assets/img/social-icons-sprite.png) -76px -37px;
	}
}
.social-media-list-item-youtube {
	background: url(../../assets/img/social-icons-sprite.png) -114px 0;
	&:hover {
		background: url(../../assets/img/social-icons-sprite.png) -114px -37px;
	}
}
.social-media-list-item-bcnow {
	background: url(../../assets/img/social-icons-sprite.png) -152px 0;
	&:hover {
		background: url(../../assets/img/social-icons-sprite.png) -152px -37px;
	}
}

.social-media-list-gold {
	.social-media-list-item-facebook {
		background: url(../../assets/img/social-icons-sprite.png) 0 -74px;

		&:hover {
			background: url(../../assets/img/social-icons-sprite.png) 0 -111px;
		}
	}
	.social-media-list-item-twitter {
		background: url(../../assets/img/social-icons-sprite.png) -38px -74px;

		&:hover {
			background: url(../../assets/img/social-icons-sprite.png) -38px -111px;
		}
	}
	.social-media-list-item-photos {
		background: url(../../assets/img/social-icons-sprite.png) -76px -74px;

		&:hover {
			background: url(../../assets/img/social-icons-sprite.png) -76px -111px;
		}
	}
	.social-media-list-item-youtube {
		background: url(../../assets/img/social-icons-sprite.png) -114px -74px;

		&:hover {
			background: url(../../assets/img/social-icons-sprite.png) -114px -111px;
		}
	}
	.social-media-list-item-bcnow {
		background: url(../../assets/img/social-icons-sprite.png) -152px -74px;

		&:hover {
			background: url(../../assets/img/social-icons-sprite.png) -152px -111px;
		}
	}
}

@media only screen and (max-width: 959px) {

	.social-media-list {
		padding: 10px;
		text-align: left;
	}

}