.resizer {
  display: inline-block;
}

.resizer-list {
  margin: 0;
  
  li, li:first-child {
    padding: 0 5px;
  }

  li {
    line-height: 34px;
  }
}

.resizer-item {
  color: $light-gray;
  font-weight: bold;
  text-decoration: underline;
  
}
.resizer-item-smaller {
  font-size: 1.6em;
}
.resizer-item-default {
  font-size: 2.2em;
}
.resizer-item-larger {
  font-size: 2.8em;
}

/*Text Resizer Classes*/
.large-text {
  font-size: 1.25em;
  line-height: 27px;
}

.largest-text {
  font-size: 1.45em;
  line-height: 30px;
}