.resizer {
  display: inline-block;
}

.resizer-list {
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
  li, li:first-child {
    padding: 5px;
  }

  li {
    button {
      color: $light-gray;
      text-decoration: underline;
    }
  }
}

.resizer-item {
  font-weight: bold;
  line-height: 34px;
}
.resizer-item-smaller {
  font-size: 1.6em;
}
.resizer-item-default {
  font-size: 2.2em;
}
.resizer-item-larger {
  font-size: 2.8em;
}