.seButton {
	margin-top : 20px;
	width : 100px;
}
.seCheckbox {
	font-size : 10px;
	padding-bottom : 10px;
}
.seCheckboxLabel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}
.seControlCell,.seControl1 {
	width : auto;
	height : auto;
	text-align : left;
	padding : 0px 0px 15px;
}
.seElementRow {
	width : 200px;
	height : auto;
}

.seHeaderTitle {
	padding-top : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
}
.seLabelCell {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color : #000000;
	width : 80px;
	text-align : left;
}
.seLabelTitle {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
}
.seLabelTitle,.seLabelPosRight,.seFirstChild {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	padding-left : 12px;
}
.seRadio {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
}
.seRadioLabel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	width : auto;
}
.seRequiredMarker {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #CC0000;
}
.seText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	padding-bottom : 4px;
	font-weight : bold;
	margin : 10px 10px 10px 0;
	line-height: 1;
}
fieldset {
	float : left;
	width : 100%;
	height : auto;
	border-top : 1px solid #fff;
	border-bottom : 1px solid #fff;
	border-left-style : none;
	border-right-style : none;
	background-position : bottom left;
	background-repeat : repeat-x;
	padding : 0;
	margin : 0;
}
legend {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	color : #000000;
	height : auto;
	padding : 3px;
	background-color : transparent;
}
.seText div {
	color : #000;
	font-weight : normal;
	padding : 10px 0 0 0 ;
	width : 520px;
	margin-bottom : 20px;
}
.horizontal {
	width : auto;
	height : auto;
}
select {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding : 3px;
}
.seInput {
	width : 390px;
}
.seTextarea {
	width : 330px;
	height : 40px;
}
.seText select {
	width : 395px;
	float : right;
}
.seCaption {
	float : right;
}
.vertical {
	float : left;
}
.btnreset {
	float : left;
	width : 200px;
}
.btnsubmit {
	float : left;
	width : 200px;
}
