

p {
	margin : 0 0 15px 0;
	line-height : 1.5em;
}

.clear {
	clear : both;
}

.tulipShow {
	font-size: 93%;
}


#mainContent ol {
	line-height : 1.5em;
}
#blogimagecontainer {
	margin : 10px 0 0 0 ;
	float : left;
}

.seBlogViewWrapper {
	width : 710px;
}
#mainContent .facebookfeedbox h1 a {
	color : #FFFFFF;
	display : none;
	
	padding : 0 10px 5px 40px;
	text-decoration : none;
}
#mainContent .facebookfeedbox .facebookfeedlink {
	color: white;
}
#mainContent .facebookfeedbox h3 a {
	font-weight : normal;
	font-size : 12px;
	text-decoration : none;
}

#mainContent .facebookfeedbox h3 a:hover {
	text-decoration : underline;
}
.facebookfeedbox .titlebox {
	color : #fff;
	display : block;
	margin : 0px;
	padding : 40px 10px 0;
	color : #fff;
	background-image : url(http://baltimorecountymd.gov/sebin/q/j/facebook-header.gif );
	background-position : center 10px;
	background-repeat : no-repeat;
	background-color : #3b5998;
}
#mainContent .facebookfeedbox h3 {
	display : block;
	margin : 0 0 10px;
	padding : 10px 0 0;
}
#mainContent .facebookfeedbox h2 {
	color : #fff;
}
#mainContent .facebookfeedbox ol {
	list-style-type : none;
	padding : 0;
	margin : 0;
}
#mainContent .facebookfeedbox p {
	margin : 0;
	color : #fff;
}

#SEBlogViewHeader {
	height : auto;
	margin-bottom : 10px;
	padding : 0 5px 5px 0;
	display : none;
}

#mainContent .postTitle a {
	color: #002280;
	text-decoration : none;
	font-size : 1.2em;
}

.postCommentSummary {
	display : none;
}
#calloutarea p {
	margin : 10px 0 15px;
}
#mainContent .titlebox a {
	color : #fff;
}


#SEBlogViewMainWrapper {
	float: left;
	width : 500px;
	margin : 10px 0 0;
}


 .tulipShow img { 
 	padding:0;
 	margin:0; 
 }

 #seBlogTabs{url("/sebin/r/d/seblogtabs-gradient.jpg");}
.tulipTVPlayerContainerDate {display: inline;}

.tulipTVPlayerContainerDuration{float:none;}

.tulipTVPlayerContainerDesc{clear:none;}
.tulipMain{width:500px;}
