
body {
	background-color : #ebebeb;
	margin : 0;
	color : #444;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 75%;
}
p {
	margin : 0 0 15px 0;
	line-height : 1.5em;
}
h1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.6em;
	font-weight : bold;
	padding : 10px 0 5px 0;
	color : #444;
}
h2 {
	color : #444;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1.3em;
	font-weight : bold;
	margin : 5px 0 20px ;
}
h3 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	font-weight : bold;
	color : #444;
	margin : 5px 0 10px 0;
}
h4 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	margin : 5px 0 20px 0;
	color : #002280;
}
h5 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : .9em;
	color : #002280;
	margin : 5px 0 20px 0;
}
h6 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : .9em;
	color : #000;
	margin : 5px 0 20px 0;
}
.clear {
	clear : both;
}
#column1 {
	float : left;
	width : 227px;
	margin : 0 0 0 0;
	padding : 0;
	display : inline;
}
#column2 {
	float : left;
	width : 710px;
	margin : 20px 0 0 42px;
	padding : 0;
	display : inline-block;
}

#backgroundshadow {
	width : 100%;
	height : auto;
	background-image : url(http://baltimorecountymd.gov/sebin/b/h/background-shadow-subpage.png);
	background-position : top center;
	background-repeat : repeat-y;
	padding : 0 0 20px;
	display : table;
}
#maincontainer {
	width : 1000px;
	margin : 0 auto;
}
#header {
	background-image : url(http://baltimorecountymd.gov/sebin/z/b/gradient-header.jpg);
	background-position : top;
	background-repeat : repeat-x;
	width : 100%;
	height : 188px;
}
#headercontainer {
	width : 1001px;
	margin : auto;
}
.logobox {
	background-image : url(http://baltimorecountymd.gov/sebin/f/h/seal-new.jpg);
	background-repeat : no-repeat;
	background-position : top left;
	width : 254px;
	height : 188px;
	float : left;
	display : inline;
}
.logoboxbottom {
	background-image : url(http://baltimorecountymd.gov/sebin/c/k/logo-sub.gif);
	background-repeat : no-repeat;
	background-position : top left;
	width : 200px;
	height : 37px;
	padding : 0 0 10px;
	display : none;
}
#navigation_tertiary {
	width : 744px;
	height : 52px;
	float : right;
	display : inline;
}
#tertiary_navigation {
	background-color : #333;
	width : 100%;
	margin : 0px;
	padding : 0px;
}
#tertiary_nav {
	margin : 0 auto;
	display : inline;
	height : auto;
}
#tertiary_nav p {
	margin : 0;
	height : auto;
}
#tertiary_nav ul {
	list-style-type : none;
	padding : 13px 0 0 0;
	margin : 0;
}
#tertiary_nav li {
	float : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	height : 20px;
	list-style-type : none;
	width : auto;
	color : #ccc;
	margin : 2px 0 0 0;
}
#tertiary_nav li a {
	border-right : 1px solid #ccc;
	color : #ccc;
	padding : 0 0px;
	text-decoration : none;
}
#tertiary_nav li.first a:hover {
	color : #ccc;
	padding : 0 20px 0 0;
	text-decoration : underline;
}
#tertiary_nav li.last a {
	border : none;
	color : #ccc;
	padding : 0 0 0 20px;
	text-decoration : none;
}
#tertiary_nav li.first a {
	border-right : 1px solid #ccc;
	color : #ccc;
	padding : 0 20px 0 0;
	text-decoration : none;
}
#tertiary_nav li.resizebutton a {
	border : none;
	color : #ccc;
	padding : 0 0 0 5px;
	text-decoration : none;
}
#tertiary_nav li.textresizer {
	margin : 0 0 0 10px;
	padding : 0;
}
#tertiary_search {
	margin : -6px 0 0 10px;
	padding : 0;
}
#sa {
	background-color : #feb30b;
	color : #000;
	font-size : 1em;
	font-weight : bold;
	height : 22px;
	border : none;
	margin : 0 25px 0 0;
	cursor : pointer;
	width : 80px;
	text-transform : uppercase;
	font-family : Arial, Helvetica, sans-serif;
	text-align : center;
}
#sa label {
	margin : 5px 0 0 0;
}
#sa .hover {
	background-color : #000;
}
#search_area {
}
#q {
	margin : 0 0 0 3px;
	width : 320px;
}
#navigation_secondary {
	width : 744px;
	height : 37px;
	float : right;
	margin : 0 1px 0 0;
}
ul.megamenu {
	background-color : #686868;
	margin : -1px auto;
	padding : 0;
	list-style : none;
	display : none;
	width : 744px;
	height : 37px;
}
ul.megamenu li.mm-item {
}
ul.megamenu li {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 14px;
	color : #ccc;
	margin : 0px;
	padding : 0px 0px;
	width : 246px;
	display : inline-block;
}
ul.megamenu li.main {
	border-left : 1px solid #333;
	background-image : url(http://baltimorecountymd.gov/sebin/l/y/background-secondarynav.jpg);
	background-position : top right;
	background-repeat : no-repeat;
}
ul.megamenu li.clear-fix {
	float : none;
	clear : both;
	margin : 0px;
	padding : 0px;
	height : 0px;
	font-size : 0px;
	line-height : 0px;
}
ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
	position : relative;
	display : inline-block;
	color : #ccc;
	padding : 10px 20px;
	margin : 0;
	text-decoration : none;
	z-index : 10;
	font-size : 14px;
	border-left : 1px solid transparent;
	border-right : 1px solid transparent;
	width : 206px;
	height : 17px;
}
*html ul.megamenu a.mm-item-link:link, *html ul.megamenu a.mm-item-link:visited {
	border : none;
}
ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
	color : #c51110;
	background : #FFF;
	border-top : 1px solid #686868;
	border-left : 1px solid #686868;
	border-right : 1px solid #686868;
	width : 206px;
	height : 17px;
	padding : 10px 20px;
	display : inline-block;
	background-image : url(http://baltimorecountymd.gov/sebin/r/n/background-secondarynav-hover.jpg);
	background-position : top right;
	background-repeat : no-repeat;
}
ul.megamenu div.mm-item-content {
	background : #FFF;
	padding : 0px;
	position : absolute;
	z-index : 9;
}
.mm-content-base {
	background : #FFF;
	position : relative;
	z-index : 11;
	padding : 20px 10px;
	width : 500px;
	display : inline-block;
}
.mm-js-shadow {
	position : absolute;
	z-index : 10;
	background-color : #666;
}
#megamenusub ul {
	width : 140px;
	float : left;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color : #FFF;
	padding : 0px;
	margin : 10px;
	list-style-type : none;
}
#megamenusub li {
	font-size : 12px;
	font-weight : normal;
	color : #333;
	margin : 0;
	padding : 0;
	width : 140px;
}
#megamenusub ul li.title {
	font-family : Arial, Helvetica, sans-serif;
	color : #666;
	font-weight : bold;
	border-bottom : 3px solid #cacaca;
	border-top : 1px solid #cacaca;
	margin : 0 10px 5px 0;
	padding : 5px 0;
}
#megamenusub ul li a {
	color : #002280;
	text-decoration : none;
	border : none;
	font-weight : normal;
	font-size : 12px;
	line-height : 22px;
	margin : 0;
}
#megamenusub ul li a:hover {
	text-decoration : underline;
}
#navigation_primary {
	width : 744px;
	height : 99px;
	border-left : 1px solid #663399;
	border-right : 1px solid #663399;
	float : right;
}
#navigation_primary p {
	margin : 0 0 0 50px;
	font-size : 12px;
}
#navigation_primary h1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : #fff;
	margin : 20px 0px 0 50px;
}
#navigation_primary ul {
	list-style-type : none;
	display : inline-block;
	margin : 0;
	padding : 0;
}
#navigation_primary li {
	float : left;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1em;
	font-weight : normal;
	color : #fff;
	height : 99px;
	list-style-type : none;
	padding : 0;
	width : 248px;
	background-image : url(http://baltimorecountymd.gov/sebin/i/v/background-findingaid.gif);
	background-position : top;
	background-repeat : no-repeat;
	display : block;
	cursor : pointer;
}
#navigation_primary li a {
	color : #fff;
	font-family : Arial, Helvetica, sans-serif;
	text-decoration : none;
	display : inline-block;
	list-style-type : none;
	margin : 0;
	padding : 0;
	width : 248px;
	height : 99px;
}
#navigation_primary li a:hover {
	color : #fff;
	font-family : Arial, Helvetica, sans-serif;
	background-image : url(http://baltimorecountymd.gov/sebin/c/i/background-findingaid-hover.gif);
	background-position : top;
	display : inline-block;
	list-style-type : none;
	margin : 0;
	padding : 0;
}
#container_footer {
	background-color : #333;
	width : 100%;
}
#container_localnavigation {
	width : 230px;
	margin : 15px 0 0 0;
}
#container_localnavigation ul {
	padding : 0;
	margin : 0 0 25px 18px;
}
#container_localnavigation li {
	margin : 0;
	padding : 6px 0;
	list-style-type : none;
	border-bottom : 1px solid #adadad;
}
#container_localnavigation li a {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #002280;
	padding : 0 0 0  25px;
	margin : 0;
	text-decoration : none;
	background-image : url(http://baltimorecountymd.gov/sebin/q/r/most-requested-arrow.gif);
	background-position : left center;
	background-repeat : no-repeat;
	display : block;
	font-weight : normal;
}
#container_localnavigation li a:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #002280;
	padding : 0 0 0 25px;
	margin : 0;
	text-decoration : underline;
	background-image : url(http://baltimorecountymd.gov/sebin/m/n/most-requested-arrow-hover.gif);
	background-position : left center;
	background-repeat : no-repeat;
	display : block;
}
#container_localnavigation li.title {
	margin : 0;
	padding : 5px 0;
	border-top : 6px solid #cacaca;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12px;
	text-transform : uppercase;
	border-bottom : 1px solid #adadad;
	background-image : none;
}
#county_news {
	width : 497px;
	height : auto;
	padding : 10px 0;
	background-image : url(http://baltimorecountymd.gov/sebin/z/h/background-news.jpg);
	background-position : top center;
	background-repeat : repeat-y;
	float : left;
	margin : -3px 0 0 0;
}
#container_news_top {
	width : 497px;
	margin : 8px 0 0 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/b/j/background-news-top.jpg);
	background-position : top center;
	float : left;
	display : inline;
}
#container_news_bottom {
	width : 497px;
	margin : 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/x/w/background-news-bottom.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	float : left;
}
#newstitle {
	margin : 0 auto;
	padding : 10px 0;
	border-bottom : 6px solid #cacaca;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 14px;
	text-transform : uppercase;
	background-image : none;
	width : 460px;
}
}  #county_news .itemURL {
	display : none;
}
#county_news .pubDate {
	display : none;
}
#county_news .extras {
	display : none;
}
#county_news h1 {
	display : none;
}
#county_news h3.title {
}
#county_news ol {
	list-style-type : none;
}
#county_news ol li {
}
#county_news ol.feedItems {
	margin : 20px 0px 0px 30px;
	padding : 0px;
}
#county_news ol a {
	font-size : 12px;
}
#county_news .description {
	display : none;
}
#container_social {
	width : 497px;
	height : auto;
	padding : 10px 0;
	background-image : url(http://baltimorecountymd.gov/sebin/z/h/background-news.jpg);
	background-position : top center;
	background-repeat : repeat-y;
	float : left;
	margin : -3px 0 0 0;
}
#container_social ul {
	margin : 10px auto;
	padding : 0;
	width : 460px;
}
#container_social li {
	list-style-type : none;
	margin : 0 10px 0 0;
	display : inline;
}
#container_social li a {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : none;
}
#container_social li a:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	text-decoration : underline;
}
#container_social img {
	vertical-align : middle;
	border : none;
	margin : 0 3px 0 0;
}
#socialtitle {
	margin : 0 auto;
	padding : 10px 0;
	border-bottom : 6px solid #cacaca;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 14px;
	text-transform : uppercase;
	background-image : none;
	width : 460px;
}
#container_social_top {
	width : 497px;
	margin : 8px 0 0 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/b/j/background-news-top.jpg);
	background-position : top center;
	float : left;
	display : inline;
}
#container_social_bottom {
	width : 497px;
	margin : 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/x/w/background-news-bottom.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	float : left;
}
#footer {
	width : 1000px;
	background-color : #333;
	padding : 20px 0;
	margin : auto;
	line-height : 18px;
	color : #ccc;
	font-size : 11px;
	display : block;
}
#footer ul {
	list-style-type : none;
	padding : 0px;
	margin : 20px 0 0 0;
}
#footer ul li.title {
	border-bottom : 1px dotted #ccc;
	font-weight : bold;
	font-size : 1.1em;
	margin : 0 0 10px;
	padding : 0 0 6px;
	color : #fff;
}
#footer ul a {
	color : #ccc;
	text-decoration : none;
	font-weight : normal;
}
#footer ul a:hover {
	text-decoration : underline;
}
#footer ul a:visited {
	color : #999;
}
#footer_list {
	float : left;
	font-family : Arial, Helvetica, sans-serif;
	height : auto;
	padding : 0 0 0 5px;
	margin : 0 10px;
	display : inline;
}
#footer_address {
	float : left;
	margin : 0 0px 0 0;
}
#footer_address_list {
	width : auto;
	float : left;
}
#footer_county_icon {
	padding : 20px 0 0 0;
	float : left;
	height : auto;
	margin : 7px 20px 0;
	width : 80px;
}
#footer_credits {
	width : 1000px;
	border-top : 1px solid #666;
	padding : 5px 0 20px 0;
	margin:0px  	float:left;
}
#Alert {
	height : auto;
	width : 620px;
	float : left;
	margin : 0 0 20px;
	padding : 10px 10px 10px 60px;
	background-color : #feb;
	border : 1px solid #ccc;
	font-size : .8em;
	line-height : 2em;
	background-image : url(http://baltimorecountymd.gov/sebin/h/k/alert-warning-symbol.jpg);
	background-position : top left;
	background-repeat : no-repeat;
}
#county_news p {
	margin : 10px;
	padding : 10px 0 0 20px;
}
#container_rotator_top {
	width : 497px;
	margin : 8px 0 0 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/b/j/background-news-top.jpg);
	background-position : top center;
	float : left;
	display : inline;
}
#container_rotator_bottom {
	width : 497px;
	margin : 0;
	height : 9px;
	padding : 0;
	background-image : url(http://baltimorecountymd.gov/sebin/x/w/background-news-bottom.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	float : left;
}
#container_rotator {
	width : 497px;
	height : auto;
	padding : 10px 0;
	background-image : url(http://baltimorecountymd.gov/sebin/z/h/background-news.jpg);
	background-position : top center;
	background-repeat : repeat-y;
	float : left;
	margin : -3px 0 0 0;
}
#footer_list ul li.american {
	list-style-image : url("http://baltimorecountymd.gov/sebin/p/i/translate-american.jpg");
	padding : 2px;
	list-style-position : inside;
}
#footer_list ul li.spanish {
	list-style-image : url("http://baltimorecountymd.gov/sebin/d/y/translate-spanish.jpg");
	padding : 2px;
	list-style-position : inside;
}
#footer_list ul li.french {
	list-style-image : url("http://baltimorecountymd.gov/sebin/f/j/translate-french.jpg");
	padding : 2px;
	list-style-position : inside;
}
#footer_list ul li.russian {
	list-style-image : url("http://baltimorecountymd.gov/sebin/l/m/translate-russian.jpg");
	padding : 2px;
	list-style-position : inside;
}
#footer_list ul li.arabic {
	list-style-image : url("http://baltimorecountymd.gov/sebin/n/b/translate-arabic.jpg");
	padding : 2px;
	list-style-position : inside;
}
#footer_list ul li.chinese {
	list-style-image : url("http://baltimorecountymd.gov/sebin/x/w/translate-chinese.jpg");
	padding : 2px;
	list-style-position : inside;
}
#navigation_primary li.selected {
	float : left;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1em;
	font-weight : normal;
	color : #fff;
	height : 99px;
	list-style-type : none;
	padding : 0;
	width : 248px;
	background-image : url(http://baltimorecountymd.gov/sebin/c/i/background-findingaid-hover.gif);
	background-position : top;
	background-repeat : no-repeat;
	display : block;
	cursor : pointer;
}
#mainContent {
	width : 100%;
	height : auto;
}
#graybartop {
	float : left;
	width : 100%;
	height : 1px;
	margin : 0;
	padding : 0;
	display : inline;
	border-top : 6px solid #cacaca;
}
#relatedtopics {
	background-position : center top;
	background-repeat : no-repeat;
	float : right;
	height : auto;
	margin : 0px 0 5px 10px;
	width : 180px;
	clear : both;
}
#relatedtopics table {
	background-image : url(http://baltimorecountymd.gov/sebin/i/f/background-related-topics.gif);
	background-position : center top;
	background-repeat : no-repeat;
	border-top : 6px solid #cacaca;
}
#relatedtopics a.smalltext {
	padding : 5px 0;
	border-bottom : 1px solid #cacaca;
	display : inline;
	margin : 0;
	width : 100%;
	font-weight : normal;
	text-decoration : none;
	float : left;
}
#relatedtopics .smalltext {
	padding : 20px 0 15px;
	background-color : transparent;
}
.whatsheredisplaynone {
	display : none;
}
.smalltext {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #002280;
}
#baco_breadcrumb {
	margin : 10px 0 10px;
	display : inline-block;
}
#agencyheader {
	width : 710px;
	float : left;
	margin : 0 0 10px;
	padding : 0;
	display : inline;
}
#agencyname {
	float : left;
	display : inline;
	width : 510px;
	margin : 0;
	padding : 0;
	font-family : Arial, Helvetica, sans-serif;
	text-transform : uppercase;
	font-size : 12px;
	color : #444;
	font-weight : bold;
}
#agencyname h1 {
	font-size : 12px;
	color : #444;
	font-family : Arial, Helvetica, sans-serif;
	text-transform : uppercase;
	margin : 0;
	padding : 0;
}
#baco_subnav ul {
	font-size : 11px;
	margin : 0 0 0 5px;
	padding : 10px 0 0 10px;
	list-style-image : url("http://baltimorecountymd.gov/sebin/k/e/red_square.gif");
	list-style-position : outside;
}
#baco_subnav {
	width : 227px;
	margin : 0px 0px 20px 15px;
}
#baco_subnav ul li {
	padding : 0px 0px 5px 3px;
}
#baco_subnav .divnav1 {
	margin : 2px 0px 0px 0px;
	background-image : url(http://baltimorecountymd.gov/sebin/c/s/header-in-this-section.gif);
	background-position : left top;
	background-repeat : no-repeat;
	padding : 25px 0 0;
}
#baco_subnav ul ul {
	margin : 3px 0px 0px 0px;
}
#baco_subnav .smalltext {
	background-color : transparent;
	padding-bottom : 15px;
	padding-top : 25px;
}
#baco_subnav table {
	background-image : url(http://baltimorecountymd.gov/sebin/c/s/header-in-this-section.gif);
	background-position : center top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
}
#baco_subnav a.smalltext {
	border-bottom : 1px solid #adadad;
	display : inline-block;
	margin : 0;
	padding : 5px 0 5px 25px;
	width : 190px;
	background-image : url(http://baltimorecountymd.gov/sebin/q/r/most-requested-arrow.gif);
	background-position : left center;
	background-repeat : no-repeat;
	font-weight : normal;
}
#baco_subnav a.smalltext:hover {
	background-image : url(http://baltimorecountymd.gov/sebin/m/n/most-requested-arrow-hover.gif);
	background-position : left center;
	background-repeat : no-repeat;
}
#services {
	float : left;
	height : auto;
	margin : 0 ;
	width : 230px;
	background-position : right top;
	background-repeat : no-repeat;
}
#servicescontainer ul {
	margin : 0 0 25px 13px;
	padding : 0;
}
#servicescontainer li {
	border-bottom : 1px solid #ADADAD;
	list-style-type : none;
	margin : 0;
	padding : 2px 0;
	background-image : none;
}
#servicescontainer li a {
	color : #002280;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	margin : 0;
	padding : 5px 0 5px 25px;
	text-decoration : none;
	display : block;
}
#servicescontainer li a:hover {
	color : #002280;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	margin : 0;
	padding : 5px 0 5px 25px;
	text-decoration : underline;
	display : block;
	background-image : url(http://baltimorecountymd.gov/sebin/m/n/most-requested-arrow-hover.gif);
	background-position : left center;
	background-repeat : no-repeat;
}
#servicescontainer {
	width : 227px;
	margin : 0;
	padding : 0;
}
#services .title {
	color : #444;
	font-size : 12px;
}
#moreservices {
	margin : 0 0 0 13px;
	font-weight : bold;
}
#shareutilities {
	width : 200px;
	margin : 0;
	padding : 0;
	float : right;
	display : inline;
}
#rotator {
	width : 460px;
	margin : auto;
	display : inline-block;
}
#calloutarea {
	width : 170px;
	margin : 10px ;
	height : auto;
	float : right;
}
#SESearchLink {
	padding : 3px;
	margin-top : 10px;
}
#SECalendarTable {
	border-right-width : 1px;
	border-left-width : 1px;
	border-right-style : solid;
	border-left-style : solid;
	border-right-color : #666;
	border-left-color : #666;
	width : 1000px;
}
#SECalendarTable .SECalendarDay {
	font-weight : bold;
	background-color : #666;
	padding-top : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	color : #FFF;
	width : 100px;
}
#SECalendarSunday {
	padding : 10px;
	text-align : left;
	border-top-width : 1px;
	border-bottom-width : 1px;
	border-top-style : solid;
	border-bottom-style : solid;
	border-top-color : #666;
	border-bottom-color : #666;
	background-color : #f9cb65;
}
#SECalendarTable .SECalendarPastEvents {
	background-color : #f5f5f5;
	padding : 10px;
	background-repeat : repeat-x;
	background-position : left top;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	background-image : url(http://baltimorecountymd.gov/sebin/j/p/monthbkgd.jpg);
	vertical-align : top;
}
#SECalendarTable .SECalendarCurrentEvents {
	padding : 10px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	background-repeat : repeat-x;
	background-position : left top;
	background-image : url(http://baltimorecountymd.gov/sebin/j/p/monthbkgd.jpg);
	vertical-align : top;
	background-color : #f5f5f5;
}
#SECalendarTable .SECalendarFutureEvents {
	padding : 10px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	background-repeat : repeat-x;
	background-position : left top;
	background-image : url(http://baltimorecountymd.gov/sebin/j/p/monthbkgd.jpg);
	vertical-align : top;
	background-color : #f5f5f5;
}
#SECalendarTable .SECalendarEventDate {
	font-size : 10px;
	padding-bottom : 5px;
	padding-top : 10px;
	font-weight : bold;
	font-style : italic;
	font-family : Verdana, Geneva, sans-serif;
}
#SECalendarTable .SECalendarEventName {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding-top : 5px;
	padding-bottom : 5px;
}
#SECalendarTable .SECalendarEventLocation {
	font-size : 11px;
	padding-bottom : 10px;
	display : none;
}
#SECalendarMonday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-top-width : 1px;
	border-bottom-width : 1px;
	border-top-style : solid;
	border-bottom-style : solid;
	border-top-color : #666;
	border-bottom-color : #666;
}
#SECalendarTuesday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #666;
}
#SECalendarWednesday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #666;
}
#SECalendarThursday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #666;
}
#SECalendarFriday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #666;
}
#SECalendarSaturday {
	padding : 10px;
	text-align : left;
	background-color : #f9cb65;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #666;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #666;
}
.SEEvent {
	width : 200px;
	float : left;
	margin : 10px;
	background-color : #FC6;
}
#SEEventCalendar {
	text-align : center;
	width : 154px;
}
#SEEventCalendar th {
	font-family : Arial, Helvetica, sans-serif;
	color : #FFF;
	background-color : #999;
	padding : 3px;
	font-weight : bold;
}
.SEcalendarContent {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	text-align : center;
	background-color : #e9e9e9;
	padding : 5px;
	font-weight : normal;
}
.SECalendarWeek {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	background-color : #999;
	color : #FFF;
	font-weight : bold;
}
.SEEventLeft h4 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	color : #000;
}
#searchButton img {
}
.SEEventType {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 14px;
	font-weight : bold;
	text-align : center;
	width : 150px;
	padding : 5px;
	border : 1px solid #000;
	background-color : #F9CB65;
	margin-bottom : 20px;
	margin-top : 20px;
}
#SEEventMonthSelector {
	padding : 5px 5px 15px;
	width : 150px;
	background-color : #f9cb65;
	height : 25px;
}
#LeftCalendar .SEEventLeft {
	float : left;
	background-color : #ebebeb;
	width : 160px;
	margin-left : 15px;
}
#LeftCalendar {
	float : left;
	height : auto;
	width : 175px;
	position : absolute;
}
#EventListing {
	height : auto;
	width : auto;
	border-left-width : 10px;
	border-left-style : solid;
	border-left-color : #f9cb65;
}
#EventListing .SEEventLeft {
	border-left-width : 173px;
	border-left-style : solid;
	border-left-color : #ebebeb;
	padding-left : 20px;
	padding-bottom : 300px;
	float : left;
}
.SEEventName {
	font-weight : bold;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 5px;
}
.SEEventLocation {
	padding : 5px;
}
.SEEventRemindMeButton img {
}
.SEEventDesc {
	padding : 5px;
}
.SEEventDate {
	padding : 5px;
}
#searchButton {
	margin-right : 10px;
}
#goForm {
	width : 154px;
	height : 25px;
}
#goForm input {
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0;
	margin-left : 0px;
}
select {
	padding : 3px;
	font-size : 11px;
}
#EventListingContainer {
	width : 700px;
	margin-top : 20px;
}
#SEEventName {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	margin-bottom : 10px;
	padding-bottom : 5px;
	padding-top : 5px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #000;
	background-color : #e9e9e9;
	text-indent : 10px;
}
.SEEventDetail {
	font-size : 11px;
	padding-top : 3px;
	padding-right : 3px;
	padding-bottom : 10px;
	padding-left : 3px;
	margin-left : 10px;
}
.SEEventDetail strong {
	font-size : 13px;
	padding-bottom : 15px;
}
#SEEventEmailFriendName {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #000;
	background-color : #e9e9e9;
	margin-bottom : 10px;
	margin-top : 10px;
}
#emailfriendcontainer {
	width : 605px;
}
#emailfriendtime {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	margin-bottom : 15px;
	padding-top : 25px;
}
#SEEventEmailFriendType {
	margin-bottom : 10px;
	font-size : 11px;
}
#SEEventEmailFriendType strong {
	font-size : 12px;
}
#emailfriendlocation {
	margin-bottom : 10px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
}
#emailfriendlocation strong {
	font-size : 12px;
}
#SEEventEmailFriendDesc {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	margin-top : 10px;
	margin-bottom : 50px;
}
#emailfriendformcontainer {
	background-repeat : repeat-x;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #333;
	margin-top : 10px;
	background-image : url(http://baltimorecountymd.gov/sebin/v/p/detailbkgd2.jpg);
}
#EmailFriendForm {
	margin-left : 50px;
	margin-top : 20px;
}
#EmailFriendForm .SEEventEmailFriendLabel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	margin-top : 10px;
	margin-right : 10px;
	margin-bottom : 10px;
}
#EmailFriendForm .SEEventEmailFriendInput {
	width : 500px;
}
#SenderName {
	width : 500px;
}
#SenderEmail {
	width : 500px;
}
#FriendEmail {
	width : 500px;
}
#Message {
	width : 500px;
}
#EmailFriendForm .SEEventEmailFriendButton {
	padding-top : 15px;
}
#remindmecontainer {
	width : 600px;
}
#remindmeformcontainer {
	background-repeat : repeat-x;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #000;
	margin-top : 35px;
	background-image : url(http://baltimorecountymd.gov/sebin/v/p/detailbkgd2.jpg);
}
#RemindMeForm {
	margin-left : 40px;
	margin-top : 10px;
}
#RemindMeForm .SEEventRemindmeLabel {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding-top : 10px;
	padding-right : 10px;
	padding-bottom : 10px;
	width : 200px;
}
#RemindMeForm .SEEventRemindmeInput {
	width : 500px;
}
#RecipientName {
	width : 500px;
}
#RecipientEmail {
	width : 500px;
}
#SEEventRemindmeMessage {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	padding-top : 25px;
	padding-right : 10px;
	padding-bottom : 10px;
}
#remindmeimage {
	padding-bottom : 20px;
}
#RemindMeForm .SEEventRemindmeCheckbox {
	float : left;
	font-size : 11px;
}
#RemindMeForm .SEEventRemindmeCheckbox label {
	margin-top : 0px;
	margin-right : 15px;
	margin-left : 0px;
}
#RemindMeForm .SEEventRemindmeCheckbox #Day {
}
#RemindMeForm .SEEventRemindmeButton {
	margin-top : 50px;
}
#SEEventRemindMeName {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #000;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 10px;
	background-color : #e9e9e9;
}
#SEEventRemindMeDate {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	padding-top : 20px;
	padding-bottom : 10px;
}
#SEEventRemindMeDesc {
	font-size : 11px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
}
#SearchForm .SEEventSearchLabel {
	font-size : 16px;
	font-weight : bold;
	background-color : #e9e9e9;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #000;
	margin-bottom : 15px;
	padding : 5px;
	margin-top : 15px;
}
#SearchForm {
	width : 600px;
	float : left;
}
#SEEventSearchStart {
	font-size : 12px;
	font-weight : bold;
	padding-top : 10px;
	padding-right : 10px;
	padding-bottom : 10px;
	padding-left : 0px;
	float : left;
}
#SearchForm .SEEventSearchIcon {
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 0px;
}
#SEEventSearchEnd {
	font-size : 12px;
	font-weight : bold;
	padding-top : 10px;
	padding-right : 10px;
	padding-bottom : 10px;
	padding-left : 0px;
}
#SEEventSearchTypes div {
	font-size : 11px;
	padding : 5px;
}
#KeyWords {
	width : 500px;
}
#SEEventSearchKeywords div {
	padding : 5px;
	font-weight : bold;
}
#SEEventSearchGoButton {
	width : 200px;
	padding-top : 20px;
	padding-right : 10px;
	padding-bottom : 10px;
}
#SEEventSearchKeywords {
	padding-top : 20px;
}
#SEEventSearchLocations div {
	font-size : 11px;
	padding : 5px;
}
#SearchResults {
	clear : left;
}
#regevent {
	font-size : 11px;
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 5px;
	padding-left : 0px;
}
#regevent strong {
	font-size : 13px;
}
#regdate {
	padding-top : 5px;
	padding-right : 5px;
	padding-bottom : 15px;
	padding-left : 0px;
	font-size : 11px;
}
#regdate strong {
	font-size : 13px;
}
#OnlineRegistrationForm {
	margin-top : 20px;
}
#regformcontainer {
	width : 600px;
	background-repeat : repeat-x;
	border-top-width : 1px;
	border-top-style : solid;
	border-top-color : #000;
	background-image : url(http://baltimorecountymd.gov/sebin/v/p/detailbkgd2.jpg);
}
#OnlineRegistrationForm .SEEventRegisterLabel {
	text-align : right;
	font-weight : bold;
	font-size : 11px;
	padding : 5px;
}
#regformcontainer h3 {
	padding-top : 15px;
	padding-left : 20px;
}
#OnlineRegistrationForm .SEEventRegisterInput #theName {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterInput #Address {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterInput #Address2 {
	width : 200px;
	margin-top : 5px;
}
#OnlineRegistrationForm .SEEventRegisterInput #City {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterInput #State {
	width : 200px;
	padding : 3px;
}
#OnlineRegistrationForm .SEEventRegisterInput #Zipcode {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterInput #Phone {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterInput #EmailAddress {
	width : 200px;
}
#OnlineRegistrationForm .SEEventRegisterButton input {
	margin-top : 15px;
}
#EventListingDetail #SESearchLink {
	width : auto;
	float : right;
	margin : 0px;
	padding : 0px;
}
#EventListingDetail .SEEventLeft {
	width : 700px;
}
#EventListingDetail {
	padding-top : 0px;
	width : 700px;
	height : 75px;
	float : left;
	margin-top : 25px;
	margin-left : 15px;
}
#EventListingDetail #SEEventListingLink {
	width : auto;
	margin-left : 0px;
	float : right;
	display : inline;
}
.SEcalendarContent .SEcalendarSelected {
	background-color : #999;
	border : 1px solid #666;
}
#EventListingDetail .SEEventButtons {
	width : 190px;
	padding : 0px;
	float : left;
}
#EventListingDetail .SEEventButtons .SEEventRemindMeButton {
	float : left;
	width : 35px;
}
#EventListingDetail  .SEEventButtons .SEEventEmailFriendButton {
	float : right;
	width : 35px;
}
#MeetingEventsListings .SEEventButtons {
	margin-top : 20px;
}
#SEEventCalendar .SEcalendarSelected {
	background-color : #a9a9a9;
	font-weight : bold;
}
#eventListingButton {
	float : left;
}
.SEEventLeft  h3 {
	float : left;
	margin-top : 10px;
	margin-left : 10px;
}
#EventsCalendarLink {
	width : 250px;
	margin-bottom : 20px;
	height : 50px;
}
#CalendarContainer {
}
#weather_update_container {
	width : 200px;
	background-image : url(http://baltimorecountymd.gov/sebin/k/i/baltco_hdr_weatherfeed.gif);
	background-repeat : no-repeat;
	background-position : center top;
	margin-left : 15px;
	background-color : #ffcc4b;
}
#weather_update_container .description {
}
#weather_update_container .extras {
	font-weight : bold;
	margin : -15px 0px 0px 0px;
	padding : 0px;
}
#weather_update_container .itemURL {
	display : none;
}
#weather_update_container .pubDate {
}
#weather_update_container h1 {
	display : none;
}
#weather_update_container ol li {
	border-bottom : 1px solid #cf1110;
	padding : 7px 10px 10px 10px;
	border-left : 1px solid #cf1110;
	border-right : 1px solid #cf1110;
}
#weather_update_container h3.title {
}
#weather_update_container h3 {
	font-size : 11px;
}
#weather_update_link {
	width : 200px;
	padding : 3px 0px 0px 0px;
	margin : 0 0 0 15px;
	background-image : url(http://baltimorecountymd.gov/sebin/e/l/baltco_hdr_weatherfeed-bottomlink.gif );
	height : 28px;
	background-repeat : no-repeat;
	background-position : top;
}
#weather_update_title p {
	font-size : 11px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : normal;
	color : #fff;
	margin : 3px 0 0 0;
}
#weather_update_title p.large {
	color : #fff;
	font-size : 16px;
	font-weight : bold;
	font-family : Arial, Helvetica, sans-serif;
}
#weather_update_title {
	padding : 5px 0px 2px 13px;
	height : 42px;
}
#weather_update_title .left {
	float : left;
	padding : 3px 0 0 0;
	width : 40px;
}
#weather_update_title .right {
	float : left;
}
#feed_container_left {
	left : right;
	height : auto;
	margin : 0 0 0 15px;
	display : inline;
	width : 205px;
	padding : 0px;
}
#feed_container_left a.tweetlink_right {
	margin-left : 32px;
	text-decoration : none;
	color : #fff;
}
#feed_container_left a.tweetlink_right:hover {
	text-decoration : underline;
}
#twitter_update_container {
	width : 158px;
	background-position : top;
	background-repeat : no-repeat;
}
#twitter_update_container ol {
}
#twitter_update_container .description {
	display : none;
}
#feed_container_right {
	float : left;
	height : auto;
	margin : 0px 15px 7px 0px;
	display : inline;
	width : 205px;
	padding : 0px;
}
#weather_update_container ol {
	list-style-type : none;
	margin : 0px;
	padding : 0px;
}
#drinkswrapper {
	width : 600px;
	margin-right : auto;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
}
#drinkswrapper .accordionButton {
	width : 580px;
	float : left;
	background-image : url(http://baltimorecountymd.gov/sebin/d/q/drinksmenu_hdr_button.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	padding : 5px 10px;
	border-bottom : 1px solid #fff;
	cursor : pointer;
	font-weight : bold;
}
#drinkswrapper .accordionContent {
	width : 580px;
	padding : 12px 7px 9px 11px;
	float : left;
	background : #fff;
	border : 1px solid #666;
	margin-top : -2px;
	margin-bottom : -1px;
}
#drinkswrapper .on {
	background-image : url(http://baltimorecountymd.gov/sebin/d/k/drinksmenu_hdr_active.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	color : #fff;
	font-family : Arial, Helvetica, sans-serif;
}
#drinkswrapper .over {
	background-image : url(http://baltimorecountymd.gov/sebin/v/t/drinksmenu_hdr_over.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	color : #000;
}
#continue_pmt {
	width : 350px;
}
#tulipTVPlayerDiv {
	padding : 50px 0 0;
	width : 480px;
}
.tulipMain {
}
.tulipTVPlayerContainerTitle {
	color : #feb30c;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.3em;
	font-weight : bold;
	margin : 10px 15px;
}
.tulipTVPlayerContainerDuration {
	font-weight : bold;
	margin : 0 5px 5px 15px;
	border-right : 1px solid #999;
	color : #c51110;
	display : inline;
	float : left;
	padding : 0 5px 0 0;
}
.tulipTVPlayerContainerDate {
	color : #c51110;
	font-weight : bold;
}
.tulipTVPlayerContainerDesc {
	color : #ccc;
	clear : both;
	margin : 0 0 0 15px;
}
#tulipTVChannelChoice {
}
#tulipTVChannelChoiceName {
	font-size : 1.3em;
	font-weight : bold;
	margin : 15px 0;
}
#tulipTVChannelChoiceDesc {
}
.tulipTVThumbsContainer #tulipTVThumbs {
}
.tulipTVThumbLink {
	margin : 0 10px 20px 0;
	display : inline;
}
.tulipTVThumbMeta {
	padding : 0 0 10px;
}
.tulipTVThumbTitle {
	font-weight : bold;
	margin : 10px 0 10px 0;
}
.tulipTVThumbDuration {
	display : inline;
	float : left;
	margin : 0 5px 5px 0;
	padding : 0 5px 0 0;
	font-weight : bold;
	border-right : 1px solid #000;
}
.tulipTVThumbDesc {
	margin : 7px 0 20px;
}
#did9206157 object {
	padding : 10px;
	background-color : #c51110;
}
#singlePlayerContainer {
	width : 310px;
	background-color : #dedede;
	padding : 65px 0 15px;
	height : auto;
	text-align : center;
	background-image : url(http://baltimorecountymd.gov/sebin/x/m/video_small_background.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	border : 1px solid #666;
}
div#tulipTVThumbs div.tulipShow {
	margin : 5px;
	width : 130px;
	padding-top : 10px;
	border : 1px solid #999;
	height : 250px;
	float : left;
	padding : 10px;
}
.tulipMain hr {
	display : none;
}
#tulipTVPlayerContainer {
	margin : 20px 0;
	background-color : #000;
	width : 480px;
	padding : 0 0 15px;
	background-image : url("http://baltimorecountymd.gov/sebin/q/v/header_media_exec.gif");
	background-position : top left;
	background-repeat : no-repeat;
}
.tulipTVThumbDate {
	font-weight : bold;
}
.vidheaderAnsweringTheCall {
	background-image : url(http://baltimorecountymd.gov/sebin/g/w/header_answeringthecall.gif);
	background-position : top left;
	background-repeat : no-repeat;
}
#tulipTVPlayerDiv object {
	height : 200px;
	width : 300px;
}
.tulipShow {
	width : 130px;
	border : 1px solid #999;
	padding : 10px;
	float : left;
	height : 250px;
	margin : 5px;
}
#filter-form {
	margin : 10px 10px 10px 0;
	background-color : #ebebeb;
	padding : 20px;
}
#printpagebutton {
	float : right;
	display : inline;
	margin : 0 15px 0 0;
}
#sharebutton {
	float : right;
	display : inline;
}
#navaccordion {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1 em;
	margin-right : auto;
	width : 100%;
	float : left;
	margin-top : 10px;
}
#navaccordion .accordionButton {
	background-image : url(http://baltimorecountymd.gov/sebin/i/z/accordionArrow.gif);
	background-position : left top;
	background-repeat : no-repeat;
	cursor : pointer;
	font : left;
	font-weight : bolder;
	padding : 5px 5px 5px 20px;
	width : 100%;
	margin-top : -1px;
}
#navaccordion .accordionContent {
	display : block;
	width : 100%;
	padding-left : 20px;
}
#navaccordion .on {
	background-image : url(http://baltimorecountymd.gov/sebin/s/g/accordionArrowSelected.gif);
	border-bottom : 1px solid #fff;
	background-position : left top;
	background-repeat : no-repeat;
	font-family : Arial, Helvetica, sans-serif;
}
.seemorenews {
	float : left;
	margin : 5px 0 0 0;
	font-size : 11px;
}
input#mce-FNAME {
	display : inline;
	width : 100px;
}
input#mce-LNAME {
	display : inline;
	width : 100px;
}
input#mce-EMAIL {
	display : inline;
	width : 215px;
}
.mc-field-group {
	float : left;
	margin : 10px 10px 0 0;
	padding : 0;
	display : inline;
}
#mc_embed_signup {
	width : 260px;
}
#mc_embed_signup .button {
	background-color : #feb30c;
	border : 0;
	float : right;
	display : inline;
	margin : 10px 40px 0 0;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 11px;
	font-weight : bold;
	padding : 3px;
	text-transform : uppercase;
}
#skipnavigation {
	background-color : #333;
	color : #333;
	font-size : 7px;
	height : 10px;
	width : 80px;
	z-index : 1;
}
#skipnavigation a {
	color : #333;
}
#tertiary_nav li.last {
	color : #ccc;
	border : none;
	padding : 0 0 0 20px;
	text-decoration : none;
}
#executive_news {
	margin-bottom : 15px;
}
#executive_news .itemURL {
	display : none;
}
#executive_news .pubDate {
	display : none;
}
#executive_news h1 {
	display : none;
}
#executive_news h3.title {
	margin : 0px;
	padding : 0px;
}
#executive_news li.description {
	margin : 0px;
	color : #999;
}
#executive_news ol {
	list-style-type : none;
}
#executive_news ol li {
	margin : 0px 0px 18px 0px;
}
#executive_news ol.feedItems {
	margin-left : 0px;
	padding : 0px;
}
#executiveimg {
	height : 70px;
	width : 60px;
}
#executivetext {
	padding : 5px;
	z-index : -1;
	margin-top : -55px;
	margin-left : 65px;
}
#executivetext a {
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
}
#flashgallery {
	position : absolute;
}
#lookingfor_callout {
	width : 180px;
	margin : 15px 0 0 0;
	display : inline;
	float : right;
}
#lookingfor_callout li {
	margin : 0;
	padding : 6px 0;
	list-style-type : none;
	border-bottom : 1px solid #adadad;
}
#lookingfor_callout li a {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #002280;
	padding : 0 0 0  25px;
	margin : 0;
	text-decoration : none;
	background-image : url(http://baltimorecountymd.gov/sebin/q/r/most-requested-arrow.gif);
	background-position : left center;
	background-repeat : no-repeat;
	display : block;
	font-weight : normal;
}
#lookingfor_callout li a:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #002280;
	padding : 0 0 0 25px;
	margin : 0;
	text-decoration : underline;
	background-image : url(http://baltimorecountymd.gov/sebin/m/n/most-requested-arrow-hover.gif);
	background-position : left center;
	background-repeat : no-repeat;
	display : block;
}
#lookingfor_callout li.title {
	margin : 0;
	padding : 5px 0;
	border-top : 6px solid #cacaca;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	font-size : 12px;
	text-transform : uppercase;
	border-bottom : 1px solid #adadad;
	background-image : none;
}
#lookingfor_callout ul {
	padding : 0;
	margin : 0 0 25px 18px;
}
#baco_breadcrumb a {
	font-weight : normal;
}
#mainContent ul {
	line-height : 1.5em;
}
#relatedtopicssearch {
	background-position : center top;
	background-repeat : no-repeat;
	float : right;
	height : auto;
	margin : 0px 0 5px 10px;
	width : 180px;
}
#relatedtopicssearch .smalltext {
	padding : 35px 0 15px;
	background-color : transparent;
}
#relatedtopicssearch a.smalltext {
	padding : 5px 0;
	border-bottom : 1px solid #cacaca;
	display : inline-block;
	margin : 0;
	width : 100%;
	font-weight : normal;
}
#relatedtopicssearch table {
	background-image : url(http://baltimorecountymd.gov/sebin/w/m/background-best-bets.gif);
	background-position : center top;
	background-repeat : no-repeat;
	border-top : 6px solid #cacaca;
}
.activePage {
	background-image : url(http://baltimorecountymd.gov/sebin/m/n/most-requested-arrow-hover.gif);
	background-repeat : no-repeat;
	background-position : left center;
	display : inline-block;
	font-weight : normal;
	margin : 0;
	padding : 5px 0 5px 25px;
	width : 190px;
	border-bottom : 1px solid #adadad;
}
#mainContent ul.az {
	padding : 0 0 30px;
}
#phone {
	background-color : #ccc;
}
#pTable {
	background-color : #e8e8e8;
	float : left;
	width : 300px;
}
#mainContent a {
	text-decoration : underline;
}
#mainContent h2 a {
	text-decoration : none;
}
.xsmallview {
	font-size : 11px;
}
.smallview {
	font-size : 13px;
}
.normalview {
}
.largeview {
	font-size : 18px;
}
.xlargeview {
	font-size : 20px;
}
a.texttoggler {
	margin-right : 6px;
}
a.texttoggler img {
	border-bottom : 2px solid #333;
	padding-bottom : 2px;
}
a.texttoggler img:hover {
	border-bottom : 2px solid red;
	padding-bottom : 2px;
}
a.selectedtoggler img {
	border-bottom : 2px solid red;
	padding-bottom : 2px;
}
#backgroundgradient img, #backgroundgradient div {
	behavior : url(http://baltimorecountymd.gov/sebin/h/k/iepngfix.htc);
}
#container_localnavigation ul.sub {
	padding : 0;
	margin : 5px 0 -7px 18px;
}
#mainContent ol {
	line-height : 1.5em;
}
#blogimagecontainer {
	margin : 10px 0 0 0 ;
	float : left;
}
.seBlogViewHeader h1 {
	border-bottom : 2px solid #c51110;
	padding : 5px;
}
.seBlogViewPostArea {
	float : left;
	width : 442px;
}
.seBlogViewPostContent {
	padding-right : 8px;
	width : 480px;
	float : left;
}
.seBlogViewPostKeywords {
	float : none;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 11px;
	font-style : italic;
	height : auto;
	margin-bottom : 10px;
	padding : 3px;
	width : 350px;
}
.seBlogViewCommentSummary {
	display : none;
}
.seBlogViewPostTitle {
	font-size : 16px;
	font-weight : bold;
	padding : 8px 8px 8px 0;
	width : 500px;
	border-top : 6px solid #CACACA;
}
.seBlogViewKeywords {
}
.seBlogViewKeywords ul {
	-moz-padding-start : 0;
	display : block;
	list-style-type : none;
	margin : 0;
	padding : 0;
}
.seBlogViewKeywords ul li {
	background-color : #FFFFFF;
	border-bottom : 1px solid #cacaca;
	padding : 5px 5px 5px 0;
}
.seBlogViewAuxArea {
	float : right;
	width : 180px;
}
.seBlogViewWrapper {
	float : left;
	height : auto;
	width : 710px;
}
.seBlogViewLinks {
	padding-bottom : 10px;
	padding-top : 10px;
}
.seBlogViewPostContent img {
	float : left;
	border : 1px solid #ccc;
	padding : 5px;
	margin : 10px 15px 10px 0;
}
.seBlogViewKeywordsDesc {
	border-top : 6px solid #CACACA;
	border-bottom : 1px solid #CACACA;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	padding : 3px 0;
	text-transform : uppercase;
}
.seBlogViewSmallCalDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial, Helvetica, sans-serif;
	padding : 3px 0;
	font-weight : bold;
	text-transform : uppercase;
	margin : 20px 0 0 ;
}
.seBlogViewLinksDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	text-transform : uppercase;
	padding : 3px 0;
	margin : 0 0 10px;
}
.seBlogViewCommentForm {
	display : none;
}
#mainContent .seBlogViewPostTitle a {
	text-decoration : none;
}
.seBlogViewPagingArea {
	float : left;
	display : inline;
	margin : 0 0 25px;
	width : 500px;
	border-bottom : 1px solid #cacaca;
	padding : 0 0 15px;
}
.seBlogViewPostDate {
	margin : 0 0 15px;
}
.seBlogViewPagingPrev {
	background-color : #FEB30c;
	border : 1px solid #666;
	color : #000;
	cursor : pointer;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	font-weight : bold;
	height : 22px;
	text-align : center;
	text-transform : uppercase;
	width : 90px;
	float : left;
	padding : 3px 0 0 ;
	margin : 20px 0 0;
}
#mainContent .seBlogViewPagingPrev a {
	color : #000;
	text-decoration : none;
	display : block;
	padding : 3px 0 0;
}
.seBlogViewPagingNext {
	background-color : #feb30c;
	border : 1px solid #666;
	color : #000;
	cursor : pointer;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	font-weight : bold;
	height : 22px;
	text-align : center;
	text-transform : uppercase;
	width : 90px;
	float : right;
	padding : 3px 0 0 ;
	margin : 20px 0 0;
}
#mainContent .seBlogViewPagingNext a {
	color : #000;
	text-decoration : none;
	display : block;
	padding : 3px 0 0;
}
#mainContent .seBlogViewSmallCal table {
	width : 180px;
}
#mainContent .seBlogViewSmallCal td.seSelect {
}
#seBlogTabs {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.5em;
	background-color : #203e6f;
	display : block;
	margin : 13px 0 5px;
	width : 710px;
	border-top : 6px solid #203e6f;
	background-image : url(http://baltimorecountymd.gov/sebin/t/w/iwatchblogtabs.jpg);
	background-repeat : repeat-x;
	background-position : top;
}
#seBlogTabs ul li a.active {
	display : inline-block;
	list-style-type : none;
	padding : 5px 20px 6px;
	border-bottom : 2px solid #fff;
	border-right : 1px solid #cacaca;
	border-left : 1px solid #cacaca;
	background-color : #fff;
	text-decoration : none;
	color : #203e6f;
	font-weight : bold;
}
#seBlogTabs ul li a {
	display : inline-block;
	list-style-type : none;
	padding : 5px 20px 6px;
	border-bottom : 1px solid #203e6f;
	font-weight : normal;
	text-decoration : none;
	color : #fff;
}
#seBlogTabs ul {
	margin : 0 0 0 20px;
	padding : 0;
	display : inline-block;
}
#seBlogTabs ul li {
	display : inline;
	list-style-type : none;
}
#seBlogTabsContainer {
	float : left;
}
.seBlogViewKeywords ul li a {
	margin : 0;
	padding : 0;
	display : block;
	width : 100%;
}
.seBlogViewletTitle {
	border-top : 6px solid #CACACA;
	font-size : 16px;
	font-weight : bold;
	padding : 8px 8px 8px 0;
	width : 500px;
	display : block;
}
.seBlogViewletDate {
	margin : 0 0 15px;
}
.seBlogViewletPost {
	padding-right : 8px;
	width : 480px;
	margin : 0 0 40px;
}
.seBlogViewletPost img {
	border : 1px solid #CCCCCC;
	float : left;
	margin : 10px 15px 10px 0;
	padding : 5px;
}
#seBlogTabs ul li a:hover {
	background-color : #3c74c0;
	border-bottom : 1px solid #3c74c0;
}
#seBlogTabs ul li a.active:hover {
	background-color : #fff;
	border-bottom : 2px solid #fff;
}
.seBlogViewPostAuthor {
	display : none;
}
#navigation_primary h2 {
	color : #fff;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 18px;
	margin : 20px 0 0 50px;
	padding : 10px 4px 5px 0;
}
#SEBlogViewCommentForm {
	display : none;
}
#footer_list ul li.facebook {
	list-style-image : url("http://baltimorecountymd.gov/sebin/z/j/footer-facebookicon.png");
	list-style-position : inside;
	margin : 3px 0;
	padding : 2px;
}
#footer_list ul li.twitter {
	list-style-image : url("http://baltimorecountymd.gov/sebin/v/b/footer-twittericon.png");
	list-style-position : inside;
	padding : 2px;
}
#footer_list ul li.youtube {
	list-style-image : url("http://baltimorecountymd.gov/sebin/f/f/footer-youtubeicon.png");
	list-style-position : inside;
	margin : 3px 0;
	padding : 2px;
}
#footer_list ul li.photos {
	list-style-image : url("http://baltimorecountymd.gov/sebin/x/i/footer-photosicon.png");
	list-style-position : inside;
	margin : 3px 0;
	padding : 2px;
}
#footer_list ul li.videos {
	list-style-image : url("http://baltimorecountymd.gov/sebin/d/o/footer-videoicon.png");
	list-style-position : inside;
	margin : 3px 0;
	padding : 2px;
}
#footer_list ul li.bcnow {
	list-style-image : url("http://baltimorecountymd.gov/sebin/t/a/footer-bcnowicon.png");
	list-style-position : inside;
	padding : 2px;
}
#footer_county_icon img {
	margin : 0 0 25px;
}
.facebookfeedbox {
	border : 1px solid #3B5998;
	clear : both;
	float : right;
	margin : 0 13px 20px 10px;
	padding : 0;
	width : 170px;
}
.facebookfeedbox h1 {
	background-color : #3b5998;
	display : block;
	margin : 0;
}
#mainContent .facebookfeedbox h1 a {
	color : #FFFFFF;
	display : none;
	font-size : 0.6em;
	padding : 0 10px 5px 40px;
	text-decoration : none;
}
#mainContent .facebookfeedbox h3 a {
	font-weight : normal;
	text-decoration : none;
}
#mainContent .facebookfeedbox h3 a:hover {
	text-decoration : underline;
}
.facebookfeedbox .titlebox {
	color : #fff;
	display : block;
	margin : 0px;
	padding : 40px 10px 0;
	color : #fff;
	background-image : url(http://baltimorecountymd.gov/sebin/q/j/facebook-header.gif );
	background-position : center 10px;
	background-repeat : no-repeat;
	background-color : #3b5998;
}
.facebookfeedbox h3 {
	display : block;
	margin : 0 0 10px;
	padding : 10px 0 0;
}
.facebookfeedbox h2 {
	color : #fff;
}
.facebookfeedbox ol {
	list-style-type : none;
	padding : 0;
	margin : 0;
}
.facebookfeedbox p {
	margin : 0;
	color : #fff;
}
.facebookfeedbox .item {
	border-bottom : 1px dotted #666;
	margin : 0;
	padding : 0 10px;
}
.facebookfeedbox .itemURL {
	display : none;
}
.facebookfeedbox .extras {
	font-size : .8em;
	font-weight : bold;
	color : #000;
	margin : 7px 0;
}
.facebookfeedbox .description {
	display : none;
}
.facebookfeedbox .facebookfeedlink {
	background-color : #3b5998;
	display : block;
	margin : 0;
	color : #fff;
	padding : 10px;
}
#SEBlogViewHeader {
	height : auto;
	margin-bottom : 10px;
	padding : 0 5px 5px 0;
	display : none;
}
.postTitle {
	border-top : 6px solid #CACACA;
	font-size : 16px;
	font-weight : bold;
	padding : 8px 8px 8px 0;
	width : 500px;
}
.postDate {
	margin : 0 0 15px;
}
.postKeywordsDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial,Helvetica,sans-serif;
	font-weight : bold;
	padding : 3px 0;
	text-transform : uppercase;
}
#seBlogViewKeywordsDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial,Helvetica,sans-serif;
	font-weight : bold;
	padding : 3px 0;
	text-transform : uppercase;
}
#seBlogViewKeywords ul {
	-moz-padding-start : 0;
	display : block;
	list-style-type : none;
	margin : 0;
	padding : 0;
}
#seBlogViewKeywords ul li {
	background-color : #FFFFFF;
	border-bottom : 1px solid #CACACA;
	padding : 5px 5px 5px 0;
}
#seBlogViewKeywords ul li a {
	display : block;
	margin : 0;
	padding : 0;
	width : 100%;
}
.calDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial,Helvetica,sans-serif;
	font-weight : bold;
	margin : 20px 0 0;
	padding : 3px 0;
	text-transform : uppercase;
	text-align : left;
}
.linksDesc {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial,Helvetica,sans-serif;
	font-weight : bold;
	margin : 0 0 10px;
	padding : 3px 0;
	text-transform : uppercase;
}
#SEBlogViewSmallCal {
	clear : both;
	float : right;
	padding : 0;
	width : 170px;
	margin : 0 13px 20px 10px;
}
#relatedtopics ul {
	background-image : url("http://baltimorecountymd.gov/sebin/i/f/background-related-topics.gif");
	background-position : left top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
	display : inline;
	float : left;
	padding : 20px 0 0;
	width : 160px;
	margin : 0;
}
#relatedtopics ul li {
	list-style-type : none;
	padding : 0;
	margin : 0;
}
#mainContent #SEBlogViewSmallCal table {
	width : 170px;
}
#SEBlogViewLinks {
	clear : both;
	float : right;
	margin : 0 13px 20px 10px;
	padding : 0;
	width : 170px;
}
.postKeywords {
	display : none;
}
#SEBlogViewKeywords {
	display : none;
}
#mainContent .postTitle a {
	text-decoration : none;
	font-size : 1.2em;
}
.postAuthor {
	display : none;
}
.postCommentSummary {
	display : none;
}
#calloutarea p {
	margin : 10px 0 15px;
}
.titlebox a {
	color : #fff;
}
.postContent img {
	border : 1px solid #CCCCCC;
	margin : 10px 15px 10px 0;
	padding : 5px;
	display : block;
	float : left;
	clear : both;
}
.postContent {
	display : table;
}
.postContent p {
}
.postWrapper {
}
#SEBlogViewPost {
}
#SEBlogViewWrapper {
}
#SEBlogViewAuxWrapper {
	float : right;
}
#SEBlogViewMainWrapper {
	width : 500px;
	margin : 10px 0 0;
	float : left;
}
#SEBlogViewAuxArea {
}
#SEBlog {
}
.SEBlogViewPagingPrev {
	background-color : #feb30c;
	border : 1px solid #666;
	color : #000;
	cursor : pointer;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	height : 22px;
	margin : 20px 25px 0 0 ;
	text-align : center;
	text-transform : uppercase;
	width : 80px;
	float : left;
	padding : 3px 0 0 ;
}
.SEBlogViewPagingNext {
	background-color : #feb30c;
	border : 1px solid #666;
	color : #000;
	cursor : pointer;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	height : 22px;
	margin : 20px 0 0 25px;
	text-align : center;
	text-transform : uppercase;
	width : 80px;
	float : right;
	padding : 3px 0 0 ;
}
.SEBlogViewPagingArea {
	border-top : 6px solid #CACACA;
}
#mainContent .SEBlogViewPagingPrev a {
	color : #000;
	text-decoration : none;
	cursor : pointer;
	font-weight : bold;
}
#mainContent .SEBlogViewPagingNext a {
	color : #000;
	text-decoration : none;
	cursor : pointer;
	font-weight : bold;
}
#relatedtopicsnews ul {
	background-image : url("http://baltimorecountymd.gov/sebin/i/f/background-related-topics.gif");
	background-position : left top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
	display : inline;
	float : left;
	margin : 0;
	padding : 20px 0 0;
	width : 160px;
}
#relatedtopicsnews ul li {
	list-style-type : none;
	margin : 0;
	padding : 0;
}
#relatedtopicsnews {
	background-position : center top;
	background-repeat : no-repeat;
	clear : both;
	float : right;
	height : auto;
	margin : 0 0 5px 10px;
	width : 180px;
}
#relatedtopicsnews table {
	background-image : url("http://baltimorecountymd.gov/sebin/i/f/background-related-topics.gif");
	background-position : center top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
}
#relatedtopicsnews a.smalltext {
	border-bottom : 1px solid #CACACA;
	display : inline;
	float : left;
	font-weight : normal;
	margin : 0;
	padding : 5px 0;
	text-decoration : none;
	width : 100%;
}
#relatedtopicsnews .smalltext {
	background-color : rgba(0, 0, 0, 0);
	padding : 20px 0 15px;
}
