
body {
	background-color : #ebebeb;
	margin : 0;
	color : #444;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 0.75em;
	line-height : 1.5em;
	margin : 0;
	padding : 0;
}
img {
	max-width : 100%;
}
.clear {
	clear : both;
}
a {
	color : #002280;
}
p.applicationName {
	color : #fff;
	float : right;
	margin : -18px 0 0 0;
	display : block;
}
p {
	line-height : 1.5em;
	margin : 0 0 15px;
}
.whatsheredisplaynone {
	display : none;
}
#tertiaryContainer {
	width : 90%;
}
#tertiaryNavigation {
	padding : 10px;
	background-color : #333;
	display : inline-block;
	height : auto;
	width : 98%;
}
#tertiaryNavigation li {
	color : #CCCCCC;
	float : right;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1.1em;
	font-weight : 600;
	height : 20px;
	list-style-type : none;
	margin : 2px 0 0;
	width : auto;
	padding : 0;
}
#tertiaryNavigation li a.last {
	border-right : none;
}
#tertiaryNavigation ul {
	display : inline-block;
	list-style-type : none;
	margin : 0;
	padding : 0;
	float : left;
}
#tertiaryNavigation li a {
	border-right : 1px solid #666;
	color : #ccc;
	padding : 0 10px;
	text-decoration : none;
	display : block;
}
#tertiaryNavigation li p {
	margin : 0 10px;
	padding : 0;
}
#searchBox {
	display : table;
	background-color : #333;
	height : auto;
	margin : 20px auto;
	padding : 10px 15px 20px;
	width : 80%;
	-webkit-box-shadow : 0 0 10px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow : 0 0 10px 5px rgba(0, 0, 0, 0.3);
	box-shadow : 0 0px 10px rgba(0, 0, 0, 0.3);
}
#searchBox h2 {
	border-bottom : 1px solid #555;
	border-top : 6px solid #444;
	color : #ccc;
	display : inline;
	float : left;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	font-weight : bold;
	margin : 0 0 10px;
	padding : 10px 0;
	text-transform : uppercase;
	width : 100%;
}
#cse-search-box {
	display : block;
	margin : 0;
	padding : 5px;
}
#sa {
	background-color : #FEB30B;
	border : medium none;
	color : #000000;
	cursor : pointer;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1em;
	font-weight : bold;
	height : 22px;
	margin : 15px 0 0 0;
	text-align : center;
	text-transform : uppercase;
	width : auto;
}
#q {
	margin : 0 0 3px 3px;
	width : 70%;
}
#search_area {
	width : 100%;
}
#logoContainer {
	margin : 0 auto;
	width : 85%;
	position : relative;
	height : auto;
}
#logoContainer h1 {
	color : #fff;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.5em;
	font-weight : 600;
	margin : 0px 0 0 0px;
	padding : 15px 0 0px;
	display : block;
}
#logoContainer img {
	margin : 10px auto 0;
	text-align : center;
	display : inline;
	float : left;
	padding : 0 10px 0 0;
}
#container_localnavigation {
	margin : 0px 20px 0 0;
	width : 100%;
	float : left;
}
#container_localnavigation ul {
	margin : 0 0 10px 0px;
	padding : 10px;
	width : 100%;
}
#container_localnavigation li {
	border-bottom : 1px solid #ADADAD;
	list-style-type : none;
	margin : 0;
	padding : 6px 0;
}
#container_localnavigation li a {
	background-image : url("/sebin/q/r/most-requested-arrow.gif");
	background-position : left center;
	background-repeat : no-repeat;
	color : #002280;
	display : block;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	font-weight : normal;
	margin : 0;
	padding : 0 0 0 25px;
	text-decoration : none;
}
#container_localnavigation li a:hover {
	background-image : url("/sebin/m/n/most-requested-arrow-hover.gif");
	background-position : left center;
	background-repeat : no-repeat;
	color : #002280;
	display : block;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	margin : 0;
	padding : 0 0 0 25px;
	text-decoration : underline;
}
#container_localnavigation li.title {
	background-image : none;
	border-bottom : 1px solid #ADADAD;
	border-top : 6px solid #CACACA;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	font-weight : bold;
	margin : 0;
	padding : 5px 0;
	text-transform : uppercase;
}
#baco_subnav ul {
	font-size : 11px;
	list-style-position : outside;
	margin : 0 0 0 5px;
	padding : 10px 0 0 10px;
}
#baco_subnav {
	margin : 0 20px 20px 0;
	width : 96%;
	float : left;
	padding : 10px;
	background-color : #ebebeb;
}
#baco_subnav ul li {
	padding : 0 0 5px 3px;
}
#baco_subnav .divnav1 {
	background-image : url("/sebin/c/t/header-in-this-section.gif");
	background-position : left top;
	background-repeat : no-repeat;
	margin : 2px 0 0;
	padding : 25px 0 0;
}
#baco_subnav ul ul {
	margin : 3px 0 0;
}
#baco_subnav .smalltext {
	background-color : transparent;
	padding : 27px 0 0;
}
#baco_subnav table {
	background-image : url("/sebin/c/t/header-in-this-section.gif");
	background-position : left top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
	width : 100%;
}
#baco_subnav a.smalltext {
	background-image : url("/sebin/q/r/most-requested-arrow.gif");
	background-position : left center;
	background-repeat : no-repeat;
	border-bottom : 1px solid #ADADAD;
	display : inline-block;
	font-weight : normal;
	margin : 0;
	padding : 5px 0 5px 25px;
	width : 96%;
	text-decoration : none;
}
#services {
	background-position : right top;
	background-repeat : no-repeat;
	background-color : #ebebeb;
	float : left;
	height : auto;
	margin : 0 20px 20px 0;
	width : 96%;
}
#contentArea {
	display : table;
	background-color : #fff;
	height : auto;
	margin : 0px auto 20px;
	padding : 10px 15px 20px;
	width : 90%;
	-webkit-box-shadow : 0 0 10px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow : 0 0 10px 5px rgba(0, 0, 0, 0.3);
	box-shadow : 0 0px 10px rgba(0, 0, 0, 0.3);
}
#mainContent {
	height : auto;
	width : 100%;
	float : left;
}
#agencyname {
	color : #444444;
	display : inline;
	float : left;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	font-weight : bold;
	margin : 0 0 10px;
	padding : 10px 0;
	text-transform : uppercase;
	width : auto;
	border-top : 6px solid #e9e9e9;
	width : 100%;
	border-bottom : 1px solid #CCCCCC;
}
#findingAids {
	background-image : url("/sebin/h/i/finding-aids-bkg.jpg");
	background-position : top;
	background-repeat : repeat-x;
	background-color : #C51110;
	width : 80%;
	margin : 15px auto ;
	padding : 0px 15px 0px 0;
	display : table;
	box-shadow : 0 0 10px rgba(0, 0, 0, 0.3);
}
#findingAids ul {
	padding : 0;
	margin : 0 auto;
	width : 100%;
}
#findingAids ul li a {
	margin : 0 0px;
	float : left;
	padding : 10px;
	display : block;
	color : #fff;
	text-decoration : none;
	display : block;
}
#findingAids li {
	border-right : 1px dotted #ff5150;
	display : block;
	width : 32%;
	float : left;
}
#findingAids li.selected {
	display : block;
	background-color : #fd0a08;
	width : 32%;
}
#findingAids h2 {
	background : url("/sebin/t/e/mobile-arrow.png") top left no-repeat;
	color : #FFFFFF;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1.3em;
	margin : 10px 0 0 10px;
	padding : 0 0 0 20px;
}
#findingAids .last {
	border : none;
}
#findingAids p {
	color : #fff;
	margin : 5px 0 0 29px;
	float : left;
}
input#mce-FNAME {
	display : inline;
	width : 100%;
}
input#mce-LNAME {
	display : inline;
	width : 100%;
}
input#mce-EMAIL {
	display : inline;
	width : 100%;
}
.mc-field-group {
	display : inline;
	float : left;
	margin : 10px 10px 0 0;
	padding : 0;
}
#mc_embed_signup .button {
	background-color : #FEB30C;
	border : 0 none;
	display : inline;
	float : left;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 12px;
	font-weight : bold;
	margin : 15px 20px 0 0;
	padding : 3px;
	text-transform : uppercase;
}
#agencyheader {
	display : inline;
	float : left;
	margin : 0 0 10px;
	padding : 0;
	width : 100%;
}
#graybartop {
	border-top : 6px solid #CACACA;
	display : inline;
	float : left;
	height : 1px;
	margin : 0 0 10px;
	padding : 0;
	width : 100%;
}
#cse-search-box label {
	display : none;
}
.smalltext {
}
#tulipTVPlayerDiv {
	padding : 50px 0 0;
	width : 480px;
}
.tulipMain {
}
.tulipTVPlayerContainerTitle {
	color : #feb30c;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.3em;
	font-weight : bold;
	margin : 10px 15px;
}
.tulipTVPlayerContainerDuration {
	font-weight : bold;
	margin : 0 5px 5px 15px;
	border-right : 1px solid #999;
	color : #c51110;
	display : inline;
	float : left;
	padding : 0 5px 0 0;
}
.tulipTVPlayerContainerDate {
	color : #c51110;
	font-weight : bold;
}
.tulipTVPlayerContainerDesc {
	color : #ccc;
	clear : both;
	margin : 0 0 0 15px;
}
#tulipTVChannelChoice {
}
#tulipTVChannelChoiceName {
	font-size : 1.3em;
	font-weight : bold;
	margin : 15px 0;
}
#tulipTVChannelChoiceDesc {
}
.tulipTVThumbsContainer #tulipTVThumbs {
}
.tulipTVThumbLink {
	margin : 0 10px 20px 0;
	display : inline;
}
.tulipTVThumbMeta {
	padding : 0 0 10px;
}
.tulipTVThumbTitle {
	font-weight : bold;
	margin : 10px 0 10px 0;
}
.tulipTVThumbDuration {
	display : inline;
	float : left;
	margin : 0 5px 5px 0;
	padding : 0 5px 0 0;
	font-weight : bold;
	border-right : 1px solid #000;
}
.tulipTVThumbDesc {
	margin : 7px 0 20px;
}
#did9206157 object {
	padding : 10px;
	background-color : #c51110;
}
#singlePlayerContainer {
	width : 310px;
	background-color : #dedede;
	padding : 65px 0 15px;
	height : auto;
	text-align : center;
	background-image : url(/sebin/x/m/video_small_background.jpg);
	background-position : top center;
	background-repeat : no-repeat;
	border : 1px solid #666;
}
div#tulipTVThumbs div.tulipShow {
	margin : 5px;
	width : 130px;
	padding-top : 10px;
	border : 1px solid #999;
	height : 250px;
	float : left;
	padding : 10px;
}
.tulipMain hr {
	display : none;
}
#tulipTVPlayerContainer {
	margin : 20px 0;
	background-color : #000;
	width : 480px;
	padding : 0 0 15px;
	background-image : url("/sebin/q/v/header_media_exec.gif");
	background-position : top left;
	background-repeat : no-repeat;
}
.tulipTVThumbDate {
	font-weight : bold;
}
.vidheaderAnsweringTheCall {
	background-image : url(/sebin/g/w/header_answeringthecall.gif);
	background-position : top left;
	background-repeat : no-repeat;
}
#tulipTVPlayerDiv object {
	height : 200px;
	width : 300px;
}
.tulipShow {
	width : 130px;
	border : 1px solid #999;
	padding : 10px;
	float : left;
	height : 250px;
	margin : 5px;
}
#SEEventEmailFriendName {
	font-weight : bold;
	font-size : 16px;
	font-family : Arial, Helvetica, sans-serif;
	margin : 10px 0;
}
#emailfriendtime {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-style : italic;
	margin : 0 0 15px;
	padding : 25px 0 0;
}
#container_representatives ul {
	margin : 0;
	padding : 0;
}
#container_representatives li img {
	border : 1px solid #C51110;
	display : block;
	float : left;
	margin : 0 10px 0 0;
	text-align : left;
	vertical-align : middle;
}
#container_representatives ul li {
	margin : 0;
	padding : 10px 0 10px 5px;
}
#container_representatives ul li a:hover {
	background-image : none;
	padding : 0;
	display : block;
}
#container_representatives ul li a {
	background-image : none;
	color : #002280;
	font-family : Arial, Helvetica, sans-serif;
	text-decoration : none;
	padding : 0;
	display : block;
}
#county_news {
	width : 100%;
	height : auto;
	padding : 0 0 10px;
	float : left;
	margin : -3px 0 0 0;
}
#county_news .itemURL {
	display : none;
}
#county_news .pubDate {
	display : none;
}
#county_news .extras {
	display : none;
}
#county_news h1 {
	display : none;
}
#county_news h3.title {
}
#county_news ol {
	list-style-type : none;
}
#county_news ol li {
}
#county_news ol.feedItems {
	margin : 0;
	padding : 0px;
}
#county_news ol a {
	font-size : 12px;
}
#county_news .description {
	display : none;
}
.councilcolumn {
	width : 100%;
	float : left;
}
#mainContent input.clear {
	width : 80px;
}
#cse-search-results {
	width : 100%;
}
#cse-search-results iframe {
	width : 100%;
}
h1 {
	line-height : 1.2em;
}
#filter-form p {
	clear : both;
	margin : 10px 0 0;
}
#HolidayBox {
	width : 100%;
	margin : 0;
	padding : 0;
	display : table;
	color : #000;
}
#AlertBox {
	width : 100%;
	margin : 0;
	padding : 0;
	display : table;
	color : #000;
}
#AlertBox h1 {
	padding : 15px;
	font-size : 1.3em;
	margin : 0;
	display : inline-block;
	background-color : #feb30c;
}
#HolidayBox h1 {
	padding : 15px;
	font-size : 1.3em;
	margin : 0;
	display : inline-block;
	background-color : #feb30c;
}
#seBlogTabs {
	background-color : #c51110;
	background-position : center top;
	background-repeat : repeat-x;
	border-top : 6px solid #c51110;
	display : inline-block;
	font-family : Arial,Helvetica,sans-serif;
	font-size : 1.5em;
	margin : 0 0 15px;
	width : 99%;
}
#seBlogTabsContainer {
	float : left;
}
#seBlogTabs ul {
	display : inline-block;
	margin : 0;
	padding : 0;
	width : 100%;
}
#seBlogTabs ul li {
	display : inline;
	list-style-type : none;
}
#seBlogTabs ul li a.active {
	color : #fff;
	display : inline-block;
	font-weight : bold;
	list-style-type : none;
	padding : 10px 15px;
	text-decoration : none;
	width : 100%;
}
#seBlogTabs ul li a {
	color : #FFFFFF;
	display : inline-block;
	font-weight : normal;
	list-style-type : none;
	padding : 10px 15px;
	text-decoration : none;
	width : 100%;
	border-bottom : 1px dotted #fff;
}
#relatedtopics {
	float : left;
	margin : 0 20px 0 0;
	padding : 10px 10px 10px 0;
	width : 100%;
}
#relatedtopics table {
	background-image : url("/sebin/k/i/header-related-topics.gif");
	background-position : left top;
	background-repeat : no-repeat;
	border-top : 6px solid #CACACA;
	width : 100%;
}
#relatedtopics .smalltext {
	background-color : rgba(0, 0, 0, 0);
	padding : 27px 0 0;
}
h3.calloutTitle {
	border-bottom : 1px solid #CACACA;
	border-top : 6px solid #CACACA;
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	margin : 20px 0 0 ;
	padding : 3px 0 ;
	text-transform : uppercase;
	display : table;
	width : 100%;
}
#googlesearch {
	margin : 20px 12px 0 5px;
}
