
#billboard a, #billboard a:active, #billboard a:hover, #billboard a:link {
	border : none;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
}
#roundcorners {
	background-color : #fff;
}
#newscorners {
	background-color : #fff;
	display : none;
}
#highlightscorners {
	background-color : #fff;
	display : none;
}
li.activenavpath {
	font-weight : bold;
}
#homepagefootercontainer {
	margin-left : 0em;
	width : auto;
	height : auto;
	padding-top : 1.88em;
}
#WebsiteHighlightsContent {
	background-color : #e9e9e9;
	float : right;
	height : 170px;
	margin-top : 30px;
	padding-right : 5px;
	padding-left : 15px;
	padding-bottom : 5px;
	width : 170px;
}
#banneradcontainer {
	width : 163px;
	height : 270px;
	background-repeat : no-repeat;
	margin-left : 9px;
	display : none;
}
#bannertop {
	width : 120px;
	height : auto;
	margin-left : 20px;
}
#bannermiddle {
	height : 90px;
	width : 120px;
	margin-left : 20px;
	margin-top : 10px;
}
#bannerbottom {
	height : auto;
	width : 120px;
	margin-left : 20px;
	margin-top : 10px;
}
#servicescontainer {
	margin : 15px 0px 0px 0px;
	padding : 0px;
	height : auto;
	width : 160px;
	display : none;
}
#servicescontainer ul {
	list-style-position : outside;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 5px;
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-left : 15px;
	display : none;
}
#servicescontainer li {
	padding-bottom : 5px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-left : 3px;
	margin-left : 0px;
}
#servicescontainer a {
	padding-left : 0px;
	color : #002280;
}
#moreservices {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-left : 5px;
	padding-top : 5px;
	display : none;
}
.smallnormal {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
}
.whatsheredisplaynone {
	display : none;
}
body {
	margin : 0;
	padding : 0;
	text-align : left;
	color : #000000;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 75%;
	background : #FFFFFF repeat-y scroll 0 0;
}
#container {
	width : 100%;
	background : #ffffff;
	text-align : left;
	background-repeat : repeat-y;
	margin-top : 0;
	margin-bottom : 0;
	margin-left : 0;
	margin-right : 0;
}
#sidebar1 {
	width : 11.25em;
	background : #e9e9e9;
	padding : 0;
	height : 100%;
	margin-top : 0em;
	float : left;
	display : none;
}
#footercontainer {
	margin-left : 0;
	width : auto;
	height : 100px;
	padding-top : 10px;
	background-repeat : repeat-y;
	display : none;
}
#services {
	height : auto;
	width : 170px;
	margin-left : 5px;
	float : left;
	margin-top : 50px;
	display : none;
}
#bannerads {
	height : 270px;
	width : 170px;
	margin-top : 20px;
	float : left;
	margin-left : 0;
	display : none;
}
#relatedtopics {
	float : right;
	height : auto;
	width : 180px;
	margin-top : 30px;
	margin-left : 10px;
	display : none;
}
#websitehighlights {
	float : right;
	height : auto;
	width : 160px;
	margin-top : 30px;
	padding-left : 15px;
	padding-right : 15px;
	padding-bottom : 15px;
	display : none;
}
#breadcrumbs {
	padding-bottom : 5px;
	height : 20px;
	margin-left : 190px;
	padding-top : 5px;
	display : none;
}
#agencyname {
	background-repeat : repeat;
	height : 33px;
	width : auto;
	margin-top : 10px;
	margin-bottom : 0;
	margin-left : 0px;
	background-image : url(http://baltimorecountymd.gov/sebin/w/c/baltco_midhdr_bkgd.gif);
}
#agencyimage {
	float : left;
	height : 33px;
	width : 380px;
	position : absolute;
}
#horizontalrule {
	background-repeat : repeat;
	width : auto;
	margin-left : 190px;
	display : none;
}
#footercontent {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	height : auto;
	width : auto;
	margin-top : 0.31em;.
	margin-bottom : 0.63em;
	margin-left : 17em;
	display : none;
}
#sidebar1  h3,#sidebar1  p {
	margin-left : 0.63em;
	margin-right : .63em;
}
#headercontainer {
	width : 100%;
	background-color : #c51100;
	padding : 0px;
	margin : 0px;
	display : none;
}
#headernavigation {
	width : 100%;
	background-repeat : repeat;
	border-bottom : none;
	padding : 0px;
	margin : 0px;
	display : none;
}
#mainContent {
	margin : 0 20px 0 15px;
	height : auto;
}

.fltrt {
	float : right;
	margin-left : 8px;
}
.fltlft {
	float : left;
	margin-right : 8px;
}
#header {
	background-color : #C51100;
	height : 48px;
	width : 100%;
	padding : 0px;
	margin : 0px;
}
#headerimage {
	height : 48px;
	float : left;
	width : 997px;
	padding : 0px;
	margin : 0px;
}
#google {
	float : right;
	width : 335px;
	margin-top : 0.31em;
	height : 25px;
	margin-right : 0;
	display : none;
}
#headerimage img {
	float : left;
}
#globalnavigationlinks {
	white-space : nowrap;
}
#cse-search-box label {
	color : #C51100;
}
#cse-search-box {
	margin-top : 0px;
	height : 15px;
}
#pageutilities {
	position : absolute;
	padding-top : 0;
	float : left;
	margin-left : 590px;
	margin-top : 24px;
	margin-bottom : 1.3em;
	display : inline;
	width : 155px;
	display : none;
}
#printpage {
	margin-top : 2px;
	float : left;
}
#sendfriendcontainer {
	float : left;
	display : none;
	background-repeat : repeat-y;
	padding-left : 10px;
}
#sendfriend {
	margin-top : 2px;
}
#homepagebannerads .banner1 {
	margin-top : 15px;
	margin-left : 20px;
}
#skipnavigation {
	background-color : #C51100;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 10px;
	color : #C51100;
	width : 100px;
	height : 12px;
	z-index : 1;
	position : absolute;
	left : 100px;
	display : none;
}
#skipnavigation a {
	color : #C51100;
}
.smalltext {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #002280;
}
.displaynone {
	display : none;
}
#SiteContainer {
	background-repeat : repeat-y;
}
#clearfloat {
	clear : both;
	margin-left : 180px;
}
#localnavigation {
	height : auto;
	width : 170px;
	float : left;
	padding-left : 10px;
	padding-top : 25px;
	display : none;
}
h1 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.6em;
	font-weight : bold;
	color : #000;
	margin : 5px 0 20px 0;
}
h2 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1.3em;
	font-weight : bold;
	color : #000;
	margin : 5px 0 20px 0;
}
h3 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	font-weight : bold;
	color : #000;
	margin : 5px 0 20px 0;
}
h4 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 1em;
	margin : 5px 0 20px 0;
	color : #002280;
}
h5 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : .9em;
	color : #002280;
	margin : 5px 0 20px 0;
}
h6 {
	font-family : Arial, Helvetica, sans-serif;
	font-size : .9em;
	color : #000;
	margin : 5px 0 20px 0;
}
td {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color : #000;
}
#FooterLogo {
	float : right;
	width : 250px;
	padding-top : 12px;
}
#FooterInclusion {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : auto;
	width : 700px;
	display : none;
}
#FooterInclusionContent {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	height : auto;
	width : 450px;
	text-align : center;
	float : left;
	margin-top : 30px;
}
.graybackground {
	background-color : #e9e9e9;
}
#BodyContent {
	float : left;
}
#customlocalnavigations ul {
	list-style-position : outside;
	margin-top : 0px;
	margin-right : 0px;
	margin-bottom : 0px;
	margin-left : 5px;
	padding-top : 0px;
	padding-right : 0px;
	padding-bottom : 0px;
	padding-left : 0px;
	list-style-type : none;
}
#customlocalnavigations li {
	padding-bottom : 5px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	padding-left : 3px;
	margin-left : 0px;
	padding-top : 3px;
}
#customlocalnavigations {
	width : 160px;
	height : auto;
	font-size : 11px;
	margin : 0;
	display : none;
}
.SingleStreamsmalltext {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #79bce4;
}
#SingleStreamcontainer {
	width : 100%;
	background : #ffffff;
	text-align : left;
	background-repeat : repeat-y;
	margin-top : 0;
	margin-bottom : 0;
	margin-left : 0;
	margin-right : 0;
}
#SingleStreamsidebar1 {
	float : left;
	width : 11.88em;
	background : #1e8141;
	padding : 0;
	height : 100%;
	margin-top : 0em;
}
#SingleStreamfootercontainer {
	margin-left : 0;
	width : auto;
	height : 100px;
	padding-top : 10px;
	background-repeat : repeat-y;
}
#SingleStreamagencyname {
	background-repeat : repeat;
	height : 100px;
	width : auto;
	margin-top : 10px;
	margin-bottom : 0;
	margin-left : 0px;
}
#SingleStreamagencyimage {
	float : left;
	height : 100px;
	width : 650px;
	position : absolute;
}
#mainContent ul, #mainContent ol {
	font-size : 1em;
}
#floatright {
	float : right;
	width : 100%;
}
#Navigation ul {
	list-style-type : none;
	margin : 0;
	padding : 0;
}
#Navigation li {
	height : 18px;
	width : auto;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	list-style-type : none;
	float : left;
	background-color : #feb30b;
	font-weight : bold;
	padding-left : 5px;
}
#Navigation li a {
	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : #000;
	background-repeat : no-repeat;
	background-position : left center;
	padding-right : 10px;
	padding-left : 20px;
	color : #000;
	text-decoration : none;
}
#Navigation li a#noborder {
	border-right-style : none;
	padding-right : 10px;
	padding-left : 20px;
	color : #000;
	text-decoration : none;
}
#Navigation {
	height : 18px;
	width : 700px;
	padding-top : 5px;
	background-color : #FEB30B;
	margin-left : 85px;
	display : none;
}
#Navigation li a:hover {
	border-right-width : 1px;
	border-right-style : solid;
	border-right-color : #000;
	background-repeat : no-repeat;
	background-position : left center;
}
#Navigation li.selected {
	background-repeat : repeat;
}
#Bacoheader {
	background-color : #C51100;
	width : 100%;
	height : 135px;
}
#Bacoheaderimage {
	float : left;
	background-repeat : no-repeat;
	background-position : left top;
	width : 1000px;
	display : none;
}
#Bacogoogle {
	width : 275px;
	margin-top : 80px;
	float : left;
	position : absolute;
	left : 732px;
}
#Bacoform {
	margin-top : 20px;
}
#BacoheaderUtility {
	width : 150px;
	font-size : 11px;
	margin-left : 20px;
	font-weight : bold;
	position : absolute;
	color : #FFFFFF;
}
#BacoheaderUtility a {
	font-family : Arial, Helvetica, sans-serif;
	color : #FFFFFF;
}
#Bacoheaderimage img {
	float : left;
}
#Bacoheadernavigation {
	width : 100%;
	border-bottom : 1px solid #000;
	padding : 0px;
	margin : 0px;
	background-color : #feb30b;
}
#homepagecontainer {
	width : 100%;
	margin-top : 10px;
}
#webhighlights {
	background-color : #f5f5f5;
	width : 500px;
	height : 190px;
	float : left;
	background-position : bottom left;
	background-repeat : repeat-x;
}
#webhighlights p {
	font-family : Arial, Helvetica, sans-serif;
	padding-left : 10px;
	padding-top : 3px;
	padding-bottom : 3px;
}
#highlights {
	font-family : Arial, Helvetica, sans-serif;
	background-color : #fcfcfc;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #a9a9a9;
	height : 25px;
	width : 500px;
	font-weight : bold;
	text-indent : 10px;
	padding-top : 5px;
	padding-bottom : 5px;
}
#Homepagehorizontalrule {
	background-repeat : repeat;
	height : 0.63em;
	width : auto;
}
#homepageContent {
	margin : 95px 20px;
	width : 730px;
	height : auto;
	position : absolute;
	visibility : visible;
	left : 248px;
	top : 74px;
	padding-left : 10px;
}
#billboard {
	height : 90px;
	width : 728px;
	padding-bottom : 1em;
	padding-top : .6em;
}
#servicesbannercontainer {
	float : left;
	width : 236px;
	padding : 0;
	height : 100%;
	margin-top : 0.5em;
	margin-left : 1em;
	background-position : left bottom;
	background-repeat : repeat-x;
}
#mrstitle {
	text-align : center;
	vertical-align : middle;
	width : 233px;
	height : 20px;
	padding-top : 4px;
}
#mostrequestedservices {
	width : 236px;
	height : auto;
	background-repeat : no-repeat;
	margin-left : -1px;
	border-bottom : 1px solid #a9a9a9;
	font-size : 0.9em;
}
#mostrequestedservices ul {
	list-style-position : outside;
	display : block;
	font-family : Arial, Helvetica, sans-serif;
	width : 200px;
	line-height : 20px;
	-moz-padding-start : 25px;
	padding-left : 2em;
	margin-left : 0px;
}
#mostrequestedservices li {
	list-style-position : outside;
}
#homepagebannerads {
	height : 16.88em;
	width : 10.19em;
	margin-left : 2.2em;
	margin-top : 0.94em;
	padding-bottom : 1.88em;
}
#mostrequestedservices p {
	padding-left : 25px;
}
#news {
	background-color : #f5f5f5;
	width : 500px;
	height : 275px;
	float : left;
	margin-top : 15px;
	background-repeat : repeat-x;
	background-position : bottom left;
}
#news p {
	font-family : Arial, Helvetica, sans-serif;
	padding-left : 10px;
	padding-top : 10px;
}
#newstitle {
	font-family : Arial, Helvetica, sans-serif;
	background-color : #fcfcfc;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #a9a9a9;
	height : 25px;
	width : 500px;
	font-weight : bold;
	text-indent : 10px;
	padding-top : 5px;
	padding-bottom : 5px;
}
#electedofficials {
	width : 210px;
	height : 190px;
	float : right;
	border-color : #e9e9e9;
}
#videocontainer {
	float : right;
	width : 210px;
	height : auto;
	margin-top : 13px;
}
#videocontent {
	height : 242px;
	background-color : #F5F5F5;
	background-position : left bottom;
	background-repeat : repeat-x;
}
.videocontentimg {
	margin-left : 15px;
	padding-bottom : 10px;
}
#videotext {
	padding : 5px;
	font-family : Arial, Helvetica, sans-serif;
	height : auto;
	width : auto;
	font-size : 11px;
}
#videotext a {
	font-weight : bold;
}
#videotitle {
	font-family : Arial, Helvetica, sans-serif;
	font-weight : bold;
	padding-top : 5px;
	padding-bottom : 5px;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #a9a9a9;
	background-color : #FCFCFC;
	text-indent : 10px;
	height : 26px;
}
#electedofficialscontent {
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	color : #000000;
	font-weight : bold;
	height : 150px;
	width : 200px;
	padding-top : 5px;
	padding-bottom : 3px;
	background-color : #f5f5f5;
	padding-left : 10px;
	background-position : left bottom;
	background-repeat : repeat-x;
}
#highlightstext {
	margin-top : 0px;
	padding-top : 0px;
	height : 145px;
}
#executivetext a {
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
}
#electedofficialscontent p {
	vertical-align : top;
}
#electedofficialstitle {
	background-color : #fcfcfc;
	border-bottom-width : 1px;
	border-bottom-style : solid;
	border-bottom-color : #a9a9a9;
	padding-top : 5px;
	padding-bottom : 5px;
	text-indent : 10px;
	height : 25px;
	font-family : Arial, Helvetica, sans-serif;
}
#executivetext {
	padding : 5px;
	z-index : -1;
	margin-top : -55px;
	margin-left : 65px;
}
#executiveimg {
	height : 70px;
	width : 60px;
}
#councilimg {
	margin-top : 30px;
	height : 55px;
	width : 75px;
}
#counciltext {
	margin-left : 80px;
	padding : 5px;
	z-index : -1;
	margin-top : -40px;
}
#Alert {
	height : auto;
	width : 728px;
	padding-bottom : 5px;
	padding-top : 5px;
}
.clearfloat {
	clear : both;
}
#billboard a img, #billboard a:active img, #billboard a:hover img, #billboard a:link img {
	border : none;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-top-style : none;
}
#mostrequestedservices li.NOTSELECTED {
	list-style-position : outside;
	list-style-image : none;
	list-style-type : none;
	font-style : italic;
}
a, a:hover, a:link, a:active {
	color : #002280;
}
#videotext a img {
	border : none;
	border-bottom-style : none;
	border-left-style : none;
	border-right-style : none;
	border-style : none;
}
#AlertInclusionContainer {
	border : 1px solid #000;
	width : 65%;
}
#AlertTitle {
	background-color : #000;
	padding : 5px;
	text-align : center;
}
#AlertTitle .Alerttext {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	font-weight : bold;
	color : #FFF;
	border : 1px solid #F00;
	padding-top : 2px;
	padding-right : 20px;
	padding-bottom : 2px;
	padding-left : 20px;
	letter-spacing : 3px;
}
#AlertContent {
	padding : 5px;
}
#flashgallery {
	position : absolute;
}
