@import "../components/search";

.search-internal {
  padding: 2.5px 0;
  
  .search-input, .cse input.gsc-input, input.gsc-input {
  	font-size: 1.2em !important;
    height: auto !important;
    padding: 8px 10px !important;
  }

  input.gsc-search-button {
    border-radius: 0 !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 1.1em !important;
    font-weight: 700 !important;
    border: 0 !important;
    height: auto !important;
    padding: 10px 10px !important;
  }
}