@import "../../modules/all";
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
	background: $light-gray;
	color: $base-font-color;
	font-family: $default-font-family;
	font-size: 16px;
	margin: 0;
	padding: 0;
}

img {
	border: 1px solid $img-border-gray;
	margin: 5px;
	padding: 5px;
}