.brand {
  display: inline-block;
  float: left;
  padding: 0;
  
  a, a:hover {
    text-decoration:none;
  }

  h1 {
    color: $white;
  }

  h1, img {
    border: none;
  }
  
  .brand-heading {
    font-size: 1.7em;
    line-height: 28px;
    padding: 20px 0;
    font-family: $brand-font-family;
    font-weight: 700;
    letter-spacing:.4px;
    margin: 13px 0 0;
  }

  .brand-logo {
    margin-right: 10px;
  }

  .brand-logo, .brand-heading {
    display: inline-block;
    vertical-align: middle;
  }
}

@media only screen and (max-width: 480px){
  .homepage {
    .brand .brand-heading {
        font-size: 1.2em;
        line-height: 25px;
        margin: 10px 0 0;
    }
    .brand .brand-logo{
      height:65px;
      width:65px;
      margin-right:5px;
    }
  }
}