.brand {
  a, a:hover {
    text-decoration:none;
  }

  h1 {
    color: $white;
  }

  h1, img {
    border: none;
  }

  img {
    margin: 0 20px 0 0;
    padding: 0;
  }
  
  .brand-heading {
    font-size: 1.7em;
    line-height: 28px;
    padding: 31.5px 0 29.5px;
    font-family: $brand-font-family;
    font-weight: 700;
    letter-spacing:.4px;
    margin: 0;
  }

  .brand-logo, .brand-heading {
    display: inline-block;
    vertical-align: middle;
  }
  
  .brand-logo {
    margin-left: 15px;
  }
  .smaller-text {
    display: block;
    padding-top: 5px;
  }

}
@media only screen and (min-width: 992px) and (max-width: 1120px) {
  .brand .brand-heading {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 480px){
    .brand {
      padding: 5px;

      .brand-heading {
          font-size: 1.4em;
          line-height: 25px;
          margin: 10px 0 0;
      }

      .brand-logo{
        height:65px;
        width:65px;
        margin-right:5px;
      }

    }
}