/*Alert Box*/
.alert{
  padding: 10px;

  a{
    text-decoration:none;

    &:hover {
      color: $alert-link-hover;
    }
  }

  h1{
    font-family:$default-font-family;
    font-weight:bold;
    border-top:none;
    border-bottom:none;
    margin: 0;
  }
  
  background-color:$gold;
  font-family:$default-font-family;
  font-size:.6em;
  text-align:center;
}

@media only screen and (max-width: 1100px) {
  .alert h1 {
    line-height: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .alert {
    font-size: .5em;
    margin: -20px 0 20px;

    h1 {
      line-height: 1.5;
    }
  }
}