/*Alert Box*/
.alert{
  padding: 10px;

  a{
    text-decoration:none;

    &:hover {
      color: $alert-link-hover;
    }
  }

  h1{
    font-family:$default-font-family;
    font-weight:bold;
    border-top:none;
    border-bottom:none;
    margin: 0;
  }
  
  background-color:$gold;
  font-family:$default-font-family;
  font-size:.6em;
  text-align:center;
}