.secondary-nav {
    background: $darker-gray;

    .secondary-nav-list {
      padding: 8px 0;
      
      .secondary-nav-list-item {
        border-right: 1px solid $light-gray;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          border: none;
          padding-right: 0;
        }

      }
    }
  }

@media only screen and (max-width: 767px) {
  .homepage {
    .secondary-nav {
      font-size:.85em;
      padding: 10px;
    }
  }
  
}

@media only screen and (max-width: 767px) {
  .homepage {
    .secondary-nav {
      display: none;

      &.mobile-menu-visible {
        display: block;
      }
    }
  }
  
}