
/*Resets*/
//@import "partials/base/normalize";

/* Modules and Variables */
@import "partials/base/base";

/* Base*/	
@import "partials/base/grid";
@import "partials/base/typography";
@import "partials/base/header";
@import "partials/base/nav";
@import "partials/base/brand";
@import "partials/base/footer";

/*Components*/
@import "partials/components/secondaryNav";
@import "partials/components/textResizer";
@import "partials/components/alert";
@import "partials/components/buttons";
@import "partials/components/fullSite";
@import "partials/components/skipNav";
@import "partials/components/social";

/*Include the homepage search styles*/
@import "partials/homepage/search";


html, body {
	font-size: .95em;
}
.agency-page img {
	border: none;
	padding: 0;
	margin: 0;
}

#maincontainer p {
	font-size: 12px;
	line-height: 1.5em;
	margin: 0 0 15px 0; 	
}
#maincontainer #calloutarea p {
  margin: 10px 0 15px;
}

textarea,
input,
input[type="search"],
input[type="text"],
input[type="button"],
input[type="submit"] {
     -webkit-appearance: none;
     -webkit-border-radius: 0;
     border-radius: 0;
}



